@model Ishopping.MVC.ViewModels.Component.ComponentThumbnailViewModel
@{
    ViewBag.Title = "Componentes Thumbnail";
    Layout = "~/Views/Shared/_LayoutComponent.cshtml";
}

<input type="hidden" name="_goGallery" value="@Url.Action("GetImgThumbnail", "ImageGallery", null)">

<div class="row">
    <div class="col-md-8">
        <img class="img-responsive img-rounded" src="~/Images/Ishopping/slide3.jpg" />
    </div>
    <div class="col-md-4">
        <h1>Componente Thumbnail</h1>
        <p>Componentes são itens dinâmicos. Você pode adicionar, editar ou remover um componente.  Cada template possui a sua lista de componentes, as propriedades dos componentes variam de acordo com cada template, algumas propriedades podem não aparecer em um template e aparecer em outro e vice-versa.</p>
        <a href="@Url.Action("About","Home")#Component" target="_blank" class="btn btn-primary btn-lg">Saiba Mais!</a>
    </div>
</div>
<br />
<br />
<br />
@using (Html.BeginForm("Alter", "Thumbnail", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group no-gutter">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success" id="btnPesq" name="btnPesq">Pesquisar</button>
                </span>
                <input type="text" class="form-control texto" id="txtTexto" name="txtTexto" placeholder="Nome da imagem">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
}
<br />
<div class="well">
    <form id="defaultForm" method="post">
        <div class="row">
            <div class="col-md-2">
                <br />
                <img class="img-responsive img-rounded" src="~/Content/uploads/@Model.UserImageGallery.Folder/@Model.UserImageGallery.FileName" />
            </div>
            <div class="col-md-5">
                <input type="hidden" name="_id" value="@Model.Id" />
                <br />
                <br />
                <h4 class="color1">Nome da Imagem :</h4>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input class="form-control texto" type="text" id="img" name="img" placeholder="Nome da imagem" value="@Model.UserImageGallery.FileName" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" id="goToGallery" style="margin:2px">Ir para Galeria</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <h4 class="color1">Categoria :</h4>
        <div class="form-group">
            <input class="form-control texto" type="text" id="category" name="category" placeholder="Categoria" value="@Model.Category" />
        </div>
        <h4 class="color1">Ícone :</h4>
        <div class="form-group">
            <input class="form-control texto" type="text" id="icon" name="icon" placeholder="fa fa-coffee" value="@Model.VectorIcon" />
            <small class="text-muted"><a href="http://fontawesome.io/icons/" target="_blank">Font Awesome Icons</a></small>
        </div>
        <h4 class="color1">Website :</h4>
        <div class="form-group">
            <input class="form-control texto" type="text" id="webSite" name="webSite" placeholder="http://algumsite.com.br" value="@Model.WebSite" />
        </div>
        <br />
        <p>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="reload" style="margin:2px">Novo</button>
                <button type="submit" class="btn btn-primary" id="salvar" style="margin:2px">Salvar</button>
                <button type="button" class="btn btn-danger" id="deletar" style="margin:2px">Deletar</button>
            </div>
        </p>
        <text id="Status"></text>
    </form>
</div>

@section scripts{
    <script src="~/Scripts/Ishopping/Component/CommunComponentT2.min.js"></script>
    <script src="~/Scripts/Ishopping/Component/ComponentThumbnail.min.js"></script>
}







