@model Ishopping.MVC.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Redefinir Senha";
}

<br />
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>Digite o seu e-mail e a sua nova senha. A senha deve ter no mínimo 8 dígitos e pelo menos uma letra.</p>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 col-md-2 control-label" })
        <div class="col-sm-8 col-md-8 inputm">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 col-md-2 control-label" })
        <div class="col-sm-8 col-md-8 inputm">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 col-md-2 control-label" })
        <div class="col-sm-8 col-md-8 inputm">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-8 col-md-8 inputm">
            <input type="submit" class="btn btn-default" value="Enviar" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
