@model Ishopping.Mvc.Serialization.Content.ContentSliderSerialization

<div class="@Model.ClassTarget @Model.Incoming @Model.Outgoing @Model.Caption"
     data-start="@Model.DataStart"
     data-end="@Model.DataEnd"
     data-x="@Model.DataX"
     data-y="@Model.DataY"
     data-hoffset="@Model.DataHoffset"
     data-voffset="@Model.DataVoffset"
     data-speed="@Model.DataSpeed"
     data-endspeed="@Model.DataEndSpeed"
     data-easing="@Model.DataEasing"
     data-endeasing="@Model.DataEndEasing"
     data-splitin="@Model.DataSplitin"
     data-splitout="@Model.DataSplitout"
     data-elementdelay="@Model.DataElementdelay"
     data-endelementdelay="@Model.DataEndelementdelay"
     style="z-index: 12; white-space: nowrap">
    <p style="font-size:inherit">@Html.Raw(Model.Text.Trim())</p>
</div>
