@model Ishopping.MVC.ViewModels.Component.ComponentSimpleProductViewModel
@{
    ViewBag.Title = "Componente Produto Simples";
    Layout = "~/Views/Shared/_LayoutComponent.cshtml";
    var inner = "item active";
}

@Html.Partial("_StylePartial")

<input type="hidden" name="_goGallery" value="@Url.Action("GetImgProd", "ImageGallery", null)">

<div class="row">
    <div class="col-md-8">
        <img class="img-responsive img-rounded" src="~/Images/Ishopping/slide3.jpg" />
    </div>
    <div class="col-md-4">
        <h1>Componente Produtos</h1>
        <p>Componentes são itens dinâmicos. Você pode adicionar, editar ou remover um componente.  Cada template possui a sua lista de componentes, as propriedades dos componentes variam de acordo com cada template, algumas propriedades podem não aparecer em um template e aparecer em outro e vice-versa.</p>
        <a href="@Url.Action("About","Home")#Component" target="_blank" class="btn btn-primary btn-lg">Saiba Mais!</a>
    </div>
</div>
<br />
<br />
<br />
@using (Html.BeginForm("Alter", "SimpleProduct", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group no-gutter">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success" id="btnPesq" name="btnPesq">Pesquisar</button>
                </span>
                <input type="text" class="form-control texto" id="txtTexto" name="txtTexto" placeholder="Nome">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
}
<br />
<div class="well">
    <form id="defaultForm" method="post">
        <input type="hidden" name="_id" value="@Model.Id" />
        <div class="checkbox color1">
            <label>@Html.CheckBox("DisplayOnPage", Model.DisplayOnPage)<text>Exibir esse item na página</text></label>
        </div>
        <div class="checkbox color1">
            <label>@Html.CheckBox("DisplayOnlyPage", Model.DisplayOnlyPage)<text>Exibir item somente na página</text></label>
        </div>
        <br />
        <div class="row">
            <div class="btn-group col-xs-12 col-sm-11 col-md-10 col-lg-8">
                <p class="text-muted text-center">Selecione uma Categoria</p>
                <button type="button" class="btn btn-default dropdown-toggle" id="category" data-categoryid="@Model.Category" data-toggle="dropdown" style="width:100%">
                    @Model._Category
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var item in Model.CategoryList.Category)
                    {
                        <li><a class="itemCategory" id="@item.Id">@item.Name</a></li>
                    }
                </ul>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="btn-group col-xs-12 col-sm-11 col-md-10 col-lg-8">
                <p class="text-muted text-center">Selecione uma SubCategoria</p>
                <button type="button" class="btn btn-default dropdown-toggle" id="subCategory" data-subcategoryid="@Model.SubCategory" data-toggle="dropdown" style="width:100%">
                    @Model._SubCategory
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="ddmSubCategory">
                    @foreach (var item in Model._SubCategoryList)
                    {
                        <li><a class="itemCategory" id="@item.Id">@item.Name</a></li>
                    }
                </ul>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.UserImageGallery.Count(); i++)
                        {
                            <li data-target="#carousel-example-generic" data-slide-to="@i"></li>
                        }
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        @foreach (var item in Model.UserImageGallery)
                        {
                            <div class="@inner">
                                <img class="img-responsive" src="~/Content/uploads/@item.Folder/@item.FileName" alt="" />
                            </div>
                            inner = "item";
                        }
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h4 class="color1">Código da Imagem 1 :</h4>
                    <input class="form-control image" type="text" name="img1" value="@Model.UserImageGallery.ElementAt(0).FileName" />
                </div>
                <div>
                    <h4 class="color1">Código da Imagem 2 :</h4>
                    <input class="form-control image" type="text" name="img2" value="@Model.UserImageGallery.ElementAt(1).FileName" />
                </div>
                <h4 class="color1">Código da Imagem 3 :</h4>
                <div class="row">
                    <div class="col-md-7">
                        <input class="form-control image" type="text" name="img3" placeholder="Código da imagem" value="@Model.UserImageGallery.ElementAt(2).FileName" />
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" id="goToGallery" style="margin:2px">Ir para Galeria</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <h4 class="color1">Nome :</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
                <div class="input-group">
                    <input class="form-control texto" type="text" id="name" name="name" placeholder="Nome" value="@Model._Name" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-leaf bntStyle"></span>
                    </span>
                </div>
                @Html.Partial("_IsTagsPartial")
                <small class="text-muted">Estilo: <span id="sname">@Model.ComponentSimpleProductOption.Name</span></small>
            </div>
        </div>
        <h4 class="color1">Marca :</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
                <div class="input-group">
                    <input class="form-control texto" type="text" id="brand" name="brand" placeholder="Marca" value="@Model._Brand" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-leaf bntStyle"></span>
                    </span>
                </div>
                @Html.Partial("_IsTagsPartial")
                <small class="text-muted">Estilo: <span id="sbrand">@Model.ComponentSimpleProductOption.Brand</span></small>
            </div>
        </div>
        <h4 class="color1">Modelo :</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
                <div class="input-group">
                    <input class="form-control texto" type="text" id="model" name="model" placeholder="Modelo" value="@Model._Model" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-leaf bntStyle"></span>
                    </span>
                </div>
                @Html.Partial("_IsTagsPartial")
                <small class="text-muted">Estilo: <span id="smodel">@Model.ComponentSimpleProductOption.Model</span></small>
            </div>
        </div>
        <h4 class="color1">Preço :</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
                <div class="input-group">
                    <input class="form-control texto" type="text" id="price" name="price" placeholder="Preço" value="@Model.Price" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-leaf bntStyle"></span>
                    </span>
                </div>
                @Html.Partial("_IsTagsPartial")
                <small class="text-muted">Estilo: <span id="sprice">@Model.ComponentSimpleProductOption.Price</span></small>
            </div>
        </div>
        <h4 class="color1">Descrição :</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
                <div class="input-group">
                    <textarea class="form-control texto" rows="3" id="description" name="description" placeholder="Descrição">@Model._Description</textarea>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-leaf bntStyle"></span>
                    </span>
                </div>
                @Html.Partial("_IsTagsPartial")
                <small class="text-muted">Estilo: <span id="sdescription">@Model.ComponentSimpleProductOption.Description</span></small>
            </div>
        </div>
        <h4 class="color1">Tags de Busca :</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
                <div class="form-group">
                    <textarea class="form-control texto" rows="3" id="tags" name="tags" placeholder="tag1, tag2, tag3, tag4">@Model._Tags</textarea>
                </div>
            </div>
        </div>
        <br />
        <p>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="reload" style="margin:2px">Novo</button>
                <button type="submit" class="btn btn-primary" id="salvar" style="margin:2px">Salvar</button>
                <button type="button" class="btn btn-danger" id="deletar" style="margin:2px">Deletar</button>
            </div>
        </p>
        <text id="Status"></text>
    </form>
</div>

@section scripts{
    <script src="~/Scripts/Ishopping/Component/CommunComponentT2.min.js"></script>
    <script src="~/Scripts/Ishopping/Component/ComponentSimpleProduct.min.js"></script>
}









