@model Ishopping.ViewModels.TemplateBasic.IndexCreativeViewModelDeserialize

@{
    Layout = null;
    var i = 0; var ms = "ms";
}


<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Html.Partial("_PartialMetaTags")

    <title>@Model.Profile.Empresa</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Componentes/Basic/Creative/css/bootstrap.min.css" type="text/css">
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    @if (!string.IsNullOrEmpty(Model.Profile.GoogleFonts))
    {
        <link href='@Model.Profile.GoogleFonts' rel='stylesheet' type='text/css'>
    }
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="~/Componentes/Basic/Creative/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/uploads/@Model.Profile.SiteNumber/creative.css" type="text/css">
    <link href="~/Content/uploads/@Model.Profile.SiteNumber/iscss.css" rel="stylesheet">
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">@Model.Profile.Empresa</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    @foreach (var menu in Model.Menu)
                    {
                        <li><a class="page-scroll" href="@menu.ViewLink">@menu.TextMenu</a></li>
                        foreach (var item in menu.UserMenuViewItem.Where(x => x.OnMenu == true))
                        {
                            <li><a class="page-scroll" href="@item.Link">@item.TextMenu</a></li>
                        }
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header style="background-image: url(../../Content/uploads/@Model.ImagensForm[0])">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 class="@Model.Textos[0].StText">@Model.Textos[0].Text</h1>
                <hr>
                <p class="@Model.Textos[1].StText">@Model.Textos[1].Text</p>
                @if (Model.Buttons[0].TextButton != "")
                {
                    <a href="@Model.Buttons[0].UrlButton" class="btn btn-primary btn-xl page-scroll @Model.Buttons[0].StButton">@Model.Buttons[0].TextButton</a>
                }
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading @Model.Textos[2].StText">@Model.Textos[2].Text</h2>
                    <hr class="light">
                    <p class="text-faded @Model.Textos[3].StText">@Model.Textos[3].Text</p>
                    @if (Model.Buttons[1].TextButton != "")
                    {
                        <a href="@Model.Buttons[1].UrlButton" class="btn btn-default btn-xl @Model.Buttons[1].StButton">@Model.Buttons[1].TextButton</a>
                    }
                </div>
            </div>
        </div>
    </section>

    @if (Model.ItemActivity.ItemActive)
    {
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading @Model.ItemActivity.ItemStTitle">@Model.ItemActivity.ItemTitle</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    @{i = 500;}
                    @foreach (var item in Model.ItemActivity.ListItens)
                    {
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="service-box">
                                <i class="@item.VectorIcon fa-4x wow bounceIn text-primary" data-wow-delay="@i@ms"></i>
                                <h3 class="@item.ComponentActivityOption.Title">@item.Title</h3>
                                <p class="text-muted @item.ComponentActivityOption.Description">@item.Description</p>
                            </div>
                        </div>
                        i = i + 500;
                    }
                </div>
            </div>
        </section>
    }

    @if (Model.ItemPortofolio.ItemActive)
    {
        <section class="no-padding" id="portfolio">
            <div class="container-fluid">
                <div class="row no-gutter">
                    @foreach (var item in Model.ItemPortofolio.ListItens)
                    {
                        <div class="col-sm-4 col-md-4 col-lg-3">
                            <a class="portfolio-box">
                                <img src="~/Content/uploads/@item.UserImageGallery.Folder/@item.UserImageGallery.FileName" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded @item.ComponentPortofolioOption.Title">
                                            @item.Title
                                        </div>
                                        <div class="project-name @item.ComponentPortofolioOption.Description">
                                            @item.Description
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </section>
    }

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2 class="@Model.Textos[4].StText">@Model.Textos[4].Text</h2>
                @if (Model.Buttons[2].TextButton != "")
                {
                    <a href="@Model.Buttons[2].UrlButton" class="btn btn-default btn-xl wow tada @Model.Buttons[2].StButton">@Model.Buttons[2].TextButton</a>
                }
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading @Model.Textos[5].StText">@Model.Textos[5].Text</h2>
                    <hr class="primary">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <p class="@Model.Textos[6].StText">@Html.Raw(Model.Textos[6].Text)</p>
                        <ul class="address">
                            <li><i class="fa fa-map-marker"></i> <span></span>@Model.Profile.Adress</li>
                            <li><i class="fa fa-phone"></i> <span> Tel: </span>@Model.Profile.Phone</li>
                            @if (Model.Profile.WhatsApp != "")
                            {
                                <li><i class="fa fa-whatsapp"></i> <span> WhatsApp: </span>@Model.Profile.WhatsApp</li>
                            }
                            <li><i class="fa fa-envelope"></i> <span> E-mail: </span>@Model.Profile.Email</li>
                            @if (Model.Profile.Website != "")
                            {
                                <li><i class="fa fa-globe"></i> <span> Website: </span> <a href="@Model.Profile.Website" target="_blank">@Model.Profile.Website</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <br />
                <div class="col-sm-6">
                    <form id="main-contact-form" name="contact-form" method="post" action="@Url.Action("EmailS","AppServices")">
                        <input type="hidden" name="siteNumber" value="@Model.Profile.SiteNumber" />
                        <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Seu Nome" required="required">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Seu E-mail" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="subject" class="form-control" placeholder="Assunto" required="required">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Sua Mensagem" required="required"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="pull-right btn btn-primary btn-xl page-scroll">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="~/Componentes/Basic/Creative/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Componentes/Basic/Creative/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Componentes/Basic/Creative/js/jquery.easing.min.js"></script>
    <script src="~/Componentes/Basic/Creative/js/jquery.fittext.js"></script>
    <script src="~/Componentes/Basic/Creative/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Componentes/Basic/Creative/js/creative.js"></script>

</body>

</html>
