
<br />
<br />
<ul class="nav nav-tabs">
    <li role="presentation"><a id="homePage" href="#" target="_blank">Meu Profile</a></li>
    <li id="dados" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Dados
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Edit","Profiles",null)">Dados do Usuário</a></li>
            <li><a href="@Url.Action("Index","Plan",null)">Planos e Pagamentos</a></li>
        </ul>
    </li>
    <li id="image" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            Galeria de Imagens
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li id="img_11" class="disabled"><a href="@Url.Action("Index","ImageGallery",null)">View</a></li>
            <li id="img_12" class="disabled"><a href="@Url.Action("GetImgIcon","ImageGallery",null)">Ícones</a></li>
            <li id="img_13" class="disabled"><a href="@Url.Action("GetImgLogo", "ImageGallery", null)">Logo</a></li>
            <li id="img_14" class="disabled"><a href="@Url.Action("GetImgSlider", "ImageGallery", null)">Slider</a></li>
            <li><a href="@Url.Action("GetImgCard", "ImageGallery", null)">Cartão de Visita</a></li>
            <li id="img_38" class="disabled"><a href="@Url.Action("GetImgPresentation", "ImageGallery", null)">Apresentação</a></li>
            <li id="img_23" class="disabled"><a href="@Url.Action("GetImgClient", "ImageGallery", null)">Clientes</a></li>
            <li id="img_36" class="disabled"><a href="@Url.Action("GetImgTeam", "ImageGallery", null)">Equipe</a></li>
            <li id="img_22" class="disabled"><a href="@Url.Action("GetImgBrand", "ImageGallery", null)">Marcas</a></li>
            <li id="img_27" class="disabled"><a href="@Url.Action("GetImgCarte", "ImageGallery", null)">Menu</a></li>
            <li id="img_29" class="disabled"><a href="@Url.Action("GetImgPortofolio", "ImageGallery", null)">Portfolio</a></li>
            <li id="img_30" class="disabled"><a href="@Url.Action("GetImgPost", "ImageGallery", null)">Post</a></li>
            <li id="img_40" class="disabled"><a href="@Url.Action("GetImgProd", "ImageGallery", null)">Produtos</a></li>
            <li id="img_32" class="disabled"><a href="@Url.Action("GetImgProjects", "ImageGallery", null)">Projetos</a></li>
            <li id="img_33" class="disabled"><a href="@Url.Action("GetImgService", "ImageGallery", null)">Serviços</a></li>
            <li id="img_37" class="disabled"><a href="@Url.Action("GetImgThumbnail", "ImageGallery", null)">Thumbnail</a></li>
        </ul>
    </li>
    <li id="content" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            Conteúdo
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li id="ct_11" class="disabled"><a href="@Url.Action("Alter","Button",null)">Botões</a></li>
            <li id="ct_12" class="disabled"><a href="@Url.Action("Alter","Icons",null)">Ícones</a></li>
            <li id="ct_13" class="disabled"><a href="@Url.Action("Alter","List",null)">Listas</a></li>
            <li id="ct_16" class="disabled"><a href="@Url.Action("Alter","Slider",null)">Slider</a></li>
            <li id="ct_14" class="disabled"><a href="@Url.Action("Alter","Text",null)">Textos</a></li>
            <li id="ct_15" class="disabled"><a href="@Url.Action("Alter","Video",null)">Vídeos</a></li>            
        </ul>
    </li>
    <li id="component" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            Componentes
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li id="cp_38" class="disabled"><a href="@Url.Action("Alter","Presentation",null)">Apresentação</a></li>
            <li id="cp_21" class="disabled"><a href="@Url.Action("Alter","Activity",null)">Atividades</a></li>
            <li id="cp_26" class="disabled"><a href="@Url.Action("Alter","Features",null)">Características</a></li>
            <li id="cp_23" class="disabled"><a href="@Url.Action("Alter","Client",null)">Clientes</a></li>
            <li id="cp_36" class="disabled"><a href="@Url.Action("Alter","Team",null)">Equipe</a></li>
            <li id="cp_39" class="disabled"><a href="@Url.Action("Alter","Scope",null)">Escopo</a></li>
            <li id="cp_25" class="disabled"><a href="@Url.Action("Alter","Faq",null)">Faq</a></li>
            <li id="cp_34" class="disabled"><a href="@Url.Action("Alter","Skill",null)">Habilidades</a></li>
            <li id="cp_24" class="disabled"><a href="@Url.Action("Alter","ExtraLink",null)">Links</a></li>
            <li id="cp_22" class="disabled"><a href="@Url.Action("Alter","Brand",null)">Marcas</a></li>
            <li id="cp_27" class="disabled"><a href="@Url.Action("Alter","Menu",null)">Menu</a></li>
            <li id="cp_28" class="disabled"><a href="@Url.Action("Alter","Panel",null)">Painel</a></li>
            <li id="cp_31" class="disabled"><a href="@Url.Action("Alter","Pricing",null)">Planos</a></li>
            <li id="cp_29" class="disabled"><a href="@Url.Action("Alter","Portofolio",null)">Portfólio</a></li>
            <li id="cp_30" class="disabled"><a href="@Url.Action("Alter","Post",null)">Post</a></li>
            <li id="cp_40" class="disabled"><a href="@Url.Action("Alter","SimpleProduct",null)">Produtos</a></li>
            <li id="cp_32" class="disabled"><a href="@Url.Action("Alter","Projects",null)">Projetos</a></li>
            <li id="cp_35" class="disabled"><a href="@Url.Action("Alter","SocialNetworks",null)">Redes Sociais</a></li>
            <li id="cp_33" class="disabled"><a href="@Url.Action("Alter","Services",null)">Serviços</a></li>
            <li id="cp_41" class="disabled"><a href="@Url.Action("Alter","Summary",null)">Sumário</a></li>
            <li id="cp_37" class="disabled"><a href="@Url.Action("Alter","Thumbnail",null)">Thumbnail</a></li>
        </ul>
    </li>
    <li id="config" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            Configurações
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Alter","Appearance",null)">Aparência</a></li>
            <li><a href="@Url.Action("Alter","StyleClass", null)">Classe de Estilos</a></li>
            <li><a href="@Url.Action("Alter","Card",null)">Cartão de Visita</a></li>            
            <li><a href="@Url.Action("Alter","Itens",null)">Views</a></li>
            <li><a href="@Url.Action("Alter","ViewItens",null)">Itens da View</a></li>
            <li><a href="@Url.Action("Alter", "Maintenance", null)">Manutenção</a></li>
        </ul>
    </li>
</ul>
<br />

