
@{
    Layout = null; 
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Title -->
    <title>IShoopping | Criar um site fácil e rápido para sua empresa</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Meta Tags For SEO -->
    <meta name="description" content="O IShoopping é uma plataforma para criar e manter seu site de maneira fácil e rápida, sem a necessidade de domínio ou plano de hospedagem. Teste gratuitamente" />
    <meta name="robots" content="index, follow">

    <!-- Meta Tags Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.ishoopping.com.br">
    <meta property="og:title" content="Crie um site fácil e rápido para sua empresa usando o ishoopping" />
    <meta property="og:description" content="O IShoopping é uma plataforma para criar e manter seu site de maneira fácil e rápida, sem a necessidade de domínio ou plano de hospedagem. Teste gratuitamente" />
    <meta property="og:image" content="https://www.ishoopping.com.br/Images/Ishopping/ishoopping_midia.jpg" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Componentes/Premium/Unify/favicon.ico">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/bootstrap/bootstrap.min.css">
    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/icon-etlinefont/style.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/animate.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/typedjs/typed.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/hamburgers/hamburgers.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/css/unify-core.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/css/unify-components.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/css/unify-globals.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/css/custom.css">
</head>

<body>
    <main>

        <!-- Header -->
        <header id="js-header" class="u-header u-header--static--lg u-header--show-hide--lg u-header--change-appearance--lg" data-header-fix-moment="500" data-header-fix-effect="slide">
            <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-bg-white g-py-10" data-header-fix-moment-classes="g-bg-white-opacity-0_7 u-shadow-v18 g-py-0">
                <nav class="js-mega-menu navbar navbar-expand-lg">
                    <div class="container">
                        <!-- Responsive Toggle Button -->
                        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->
                        <!-- Logo -->
                        <a href="#!" class="navbar-brand">
                            <img src="~/Images/Ishopping/logo.png" alt="Image Description">
                        </a>
                        <!-- End Logo -->
                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                            <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                                <li class="nav-item g-mx-10--lg">
                                    <a href="#" class="nav-link px-0">Home</a>
                                </li>
                                <li class="nav-item g-mx-10--lg">
                                    <a href="#search" class="nav-link px-0">Pesquisar</a>
                                </li>
                                <li class="nav-item g-mx-10--lg">
                                    <a href="@Url.Action("About", "Home")" class="nav-link px-0">Sobre</a>
                                </li>
                                <li class="nav-item g-mx-10--lg">
                                    <a href="@Url.Action("Blog","AppView")" class="nav-link px-0">Blog</a>
                                </li>
                                @Html.Partial("_LoginPartialIs")
                            </ul>
                        </div>
                        <!-- End Navigation -->
                    </div>
                </nav>
            </div>
        </header>
        <!-- End Header -->
        <!-- Promo Block -->
        <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
            <div class="divimage dzsparallaxer--target w-100 g-bg-pos-bottom-center" style="height: 120%; background-image: url('../../Images/Ishopping/ishoopping03.jpg');"></div>

            <div class="container g-py-200">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="g-color-black g-font-weight-300 g-font-size-40 g-line-height-1_2 mb-4">Crie um fantástico <br>website no IShoopping</h1>
                        <span class="d-block g-color-black-opacity-0_8 g-font-size-16 mb-5">divulgue o seu negócio</span>
                        <a class="js-fancybox u-link-v5 g-color-black" href="https://www.youtube.com/embed/Oit4A9XIaRw" title="Single Image">
                            <span class="align-middle u-icon-v3 u-block-hover--scale g-bg-white g-color-black g-color-primary--hover g-rounded-50x g-cursor-pointer mr-2">
                                <i class="g-font-size-18 g-pos-rel g-left-2 fa fa-play"></i>
                            </span>
                            assista ao vídeo do canal Tamo Junto
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Promo Block -->
        <!-- Icon Blocks -->
        <section class="g-py-100">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
                        <!-- Icon Blocks -->
                        <div class="text-center">
                            <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                                <i class="icon-finance-086 u-line-icon-pro"></i>
                            </span>
                            <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Crie um Site</h2>
                            <p class="mb-0">Crie uma site para sua loja ou para sua empresa e faça a propaganda do seu negócio usando o Marketing Digital</p>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
                        <!-- Icon Blocks -->
                        <div class="text-center">
                            <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                                <i class="icon-finance-196 u-line-icon-pro"></i>
                            </span>
                            <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Divulgue o seu Negócio</h2>
                            <p class="mb-0">Divulgue o seu site para milhares de pessoas para que elas possam conhecer o seu trabalho, compartilhando nas redes sociais</p>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
                        <!-- Icon Blocks -->
                        <div class="text-center">
                            <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                                <i class="icon-finance-147 u-line-icon-pro"></i>
                            </span>
                            <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Aumente seus Lucros</h2>
                            <p class="mb-0">Quanto mais você divulgar mais chances tem de conseguir novos clientes, e mais clientes trazem mais lucros</p>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Icon Blocks -->

        <hr class="g-brd-gray-light-v4 my-0">

        <!-- Search Form -->
        <section id="search">
            <div class="container u-bg-overlay__inner text-center g-py-10 g-py-80--md">
                <h3 class="h1 g-color-gray-dark-v1 text-uppercase g-font-weight-600 g-width-60x--md mx-auto g-mb-30">Descubra quem está próximo!</h3>
                <form>
                    <div class="row justify-content-center g-mb-20 g-mb-0--lg">
                        <div class="col-lg-4">
                            <div id="form-icon-magnifier" class="input-group u-shadow-v21 g-bg-white rounded g-mb-15">
                                <div class="input-group-addon g-font-size-16 g-color-gray-light-v1 border-0">
                                    <i class="icon-magnifier g-pos-rel g-top-1 g-px-1"></i>
                                </div>
                                <input class="form-control form-control-md g-font-size-16 g-pl-2 g-py-15 border-0" id="txtSearchBySemantic" type="text" placeholder="O que procura ?" aria-label="O que procura ?" aria-describedby="form-icon-magnifier">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group u-shadow-v21 g-bg-white rounded g-mb-15">
                                <div id="form-icon-location-pin" class="input-group-addon g-font-size-16 g-color-gray-light-v1 border-0">
                                    <i class="icon-location-pin g-pos-rel g-top-1 g-px-1"></i>
                                </div>
                                <input class="form-control form-control-md g-font-size-16 border-0 g-pl-2 g-py-15" id="txtSearchByAddress" type="text" placeholder="Onde procura ?" aria-label="Onde procura ?" aria-describedby="form-icon-location-pin">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-md btn-block u-btn-primary u-shadow-v21 text-uppercase g-py-14" id="getBySearch" type="button">Buscar</button>
                        </div>
                    </div>
                    <small class="form-text g-font-size-default">Encontre aqui as melhores loja e serviços da sua região ...</small>
                </form>
            </div>
        </section>
        <!-- End Search Form -->
        <!-- Our Recent Projects -->
        <div id="profiles" data-urlcontroller="/Home/GetResult">
            <div class="container body-content" id="image"></div>
        </div>
        <!-- End Our Recent Projects -->

        <hr class="g-brd-gray-light-v4 my-0">

        <!-- About Our Company -->
        <section class="1g-bg-secondary g-py-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center g-mb-100 g-mb-0--lg">
                        <header class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                            <h3 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">O que é o IShoopping</h3>
                        </header>

                        <p class="g-font-size-16 g-mb-30">O IShoopping é uma plataforma que ajuda você a por a sua empresa no mundo do Marketing Digital de maneira fácil e rápida. Conheça algumas de nossas vantagens:</p>

                        <ul class="list-unstyled g-color-gray-dark-v4 mb-0">
                            <li class="d-flex g-mb-10">
                                <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> Você não necessita de um domínio
                            </li>
                            <li class="d-flex g-mb-10">
                                <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> Não requer um site de hospedagem
                            </li>
                            <li class="d-flex g-mb-10">
                                <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> Você não precisa ter nenhum conhecimento de informática
                            </li>
                            <li class="d-flex g-mb-10">
                                <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> Você pode alterar a sua página ou site a hora que quiser
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6 g-bg-img-hero g-pos-rel" style="background-image: url(../../Componentes/Premium/Unify/assets/img/maps/map3.png);">
                        <div class="g-absolute-centered text-center w-100 g-px-40">
                            <h2 class="h1 g-color-gray-light-v2 g-font-weight-600 g-letter-spacing-0_5">
                                No IShoopping
                                <span class="u-text-animation u-text-animation--typing"></span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Our Company -->
        <!-- Most Quality Solution -->
        <section class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
            <!-- Parallax Image -->
            <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-white-opacity-0_7--after" style="height: 140%; background-image: url('../../Images/Ishopping/ishoopping05.jpg');"></div>
            <!-- End Parallax Image -->

            <div class="container u-bg-overlay__inner g-py-80--md g-py-80">
                <div class="row">
                    <!-- Section Content -->
                    <div class="col-lg-6 order-2 order-sm-1 g-mb-0 g-mb-50--sm g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
                            <h3 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Existe alguém procurando pelo seu serviço</h3>
                        </div>
                        <p class="g-font-size-16 g-line-height-2 g-mb-30">Sempre existe alguém procurando pelo seu serviço, e sempre existe um serviço para você. Mas também existe uma barreira entre quem procura e quem oferece, nem sempre a pessoa que precisa do serviço conhece algum profissional da área. O IShopping quebra essa barreira e sempre que alguém precisar pode buscar aqui e encontrar a sua empresa. Use também as redes socias. Veja o vídeo ao lado.</p>

                        <div class="g-mb-30">
                            <img class="u-block-hover__main--grayscale g-width-100 g-opacity-0_6 g-mr-40 g-mb-10 g-mb-0--sm" src="../../Images/Ishopping/youtube.png" alt="Image description">
                            <img class="u-block-hover__main--grayscale g-width-100 g-opacity-0_6 g-mr-40 g-mb-10 g-mb-0--sm" src="../../Images/Ishopping/facebook.png" alt="Image description">
                            <img class="u-block-hover__main--grayscale g-width-100 g-opacity-0_6" src="../../Images/Ishopping/twitter.png" alt="Image description">
                        </div>

                        <a href="@Url.Action("About")" class="btn btn-xl u-btn-primary text-uppercase g-font-weight-600 g-font-size-12 rounded g-mr-15 g-mb-15 g-mb-0--sm">Conheça Mais</a>
                        <small class="d-block d-sm-inline-block g-color-gray-dark-v5 g-font-size-12">Clique no botão ao lado para esclarecer mais dúvidas</small>
                    </div>
                    <!-- End Section Content -->
                    <!-- Video Icon -->
                    <div class="col-lg-6 order-1 order-sm-2 align-self-center text-center g-pos-rel g-mb-40 g-mb-0--sm">
                        <a class="js-fancybox d-block g-pos-rel" href="https://www.youtube.com/embed/G6HL0pwV3Ac" title="Lightbox Gallery">
                            <span class="u-icon-v3 u-icon-size--xl u-block-hover--scale u-shadow-v24 g-bg-white g-color-gray-dark-v1 g-color-primary--hover g-font-size-20 rounded-circle g-cursor-pointer g-mb-10">
                                <i class="fa fa-play g-pos-rel g-left-2"></i>
                            </span>
                        </a>
                        <p class="g-color-gray-dark-v5">Assista o vídeo.</p>
                    </div>
                    <!-- End Video Icon -->
                </div>
            </div>
        </section>
        <!-- End Most Quality Solution -->
        <!-- Our Environment -->
        <section class="g-py-100">
            <div class="container">
                <div class="row">
                    <!-- Carousel -->
                    <div class="col-lg-6 g-mb-50 g-mb-0--lg">
                        <div id="carouselCus1" class="js-carousel text-center g-mb-20" data-infinite="true" data-lazy-load="progressive" data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-50 g-height-50 g-font-size-20 g-bg-white g-color-gray-dark-v5 g-color-primary--hover g-mt-minus-10"
                             data-arrow-left-classes="fa fa-angle-left g-left-0 rounded-right" data-arrow-right-classes="fa fa-angle-right g-right-0 rounded-left" data-nav-for="#carouselCus2">

                            <div class="js-slide">
                                <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1" href="../../Images/Ishopping/site_3.jpg" title="Lightbox Gallery" data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000" data-close-speed="1000"
                                   data-blur-bg="true">
                                    <img class="img-fluid w-100 rounded" data-lazy="../../Images/Ishopping/site_3.jpg" alt="Image description">
                                </a>
                            </div>

                            <div class="js-slide">
                                <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1" href="../../Images/Ishopping/site_5.jpg" title="Lightbox Gallery" data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000" data-close-speed="1000"
                                   data-blur-bg="true">
                                    <img class="img-fluid w-100 rounded" data-lazy="../../Images/Ishopping/site_5.jpg" alt="Image description">
                                </a>
                            </div>

                            <div class="js-slide">
                                <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1" href="../../Images/Ishopping/site_1.jpg" title="Lightbox Gallery" data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000" data-close-speed="1000"
                                   data-blur-bg="true">
                                    <img class="img-fluid w-100 rounded" data-lazy="../../Images/Ishopping/site_1.jpg" alt="Image description">
                                </a>
                            </div>

                            <div class="js-slide">
                                <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1" href="../../Images/Ishopping/site_8.jpg" title="Lightbox Gallery" data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000" data-close-speed="1000"
                                   data-blur-bg="true">
                                    <img class="img-fluid w-100 rounded" data-lazy="../../Images/Ishopping/site_8.jpg" alt="Image description">
                                </a>
                            </div>

                            <div class="js-slide">
                                <a class="js-fancybox d-block g-pos-rel" data-rel="lightbox-gallery--08-1" href="../../Images/Ishopping/site_7.jpg" title="Lightbox Gallery" data-open-effect="bounceInDown" data-close-effect="bounceOutDown" data-open-speed="1000" data-close-speed="1000"
                                   data-blur-bg="true">
                                    <img class="img-fluid w-100 rounded" data-lazy="../../Images/Ishopping/site_7.jpg" alt="Image description">
                                </a>
                            </div>
                        </div>

                        <div id="carouselCus2" class="js-carousel text-center g-mx-minus-10 u-carousel-v3" data-infinite="true" data-center-mode="true" data-lazy-load="progressive" data-slides-show="4" data-is-thumbs="true" data-nav-for="#carouselCus1">
                            <div class="js-slide g-px-10">
                                <img class="img-fluid g-cursor-pointer rounded" data-lazy="../../Images/Ishopping/site_3.jpg" alt="Image description">
                            </div>

                            <div class="js-slide g-px-10">
                                <img class="img-fluid g-cursor-pointer rounded" data-lazy="../../Images/Ishopping/site_5.jpg" alt="Image description">
                            </div>

                            <div class="js-slide g-px-10">
                                <img class="img-fluid g-cursor-pointer rounded" data-lazy="../../Images/Ishopping/site_1.jpg" alt="Image description">
                            </div>

                            <div class="js-slide g-px-10">
                                <img class="img-fluid g-cursor-pointer rounded" data-lazy="../../Images/Ishopping/site_8.jpg" alt="Image description">
                            </div>

                            <div class="js-slide g-px-10">
                                <img class="img-fluid g-cursor-pointer rounded" data-lazy="../../Images/Ishopping/site_7.jpg" alt="Image description">
                            </div>
                        </div>
                    </div>
                    <!-- End Carousel -->
                    <!-- Section Content -->
                    <div class="col-lg-6 align-self-center g-pl-30--lg">
                        <header class="g-mb-30">
                            <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
                                <h3 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Quem pode usar o IShoopping</h3>
                            </div>
                            <p class="g-font-size-16">
                                Se você possui
                                <strong>loja, empresa ou é um profissional autônomo</strong> você pode usar o IShoopping para
                                <strong>divulgar os seus produtos ou serviços.</strong>
                            </p>
                        </header>

                        <div class="g-mb-30">
                            <p>Um simples exemplo: Se você possui uma empresa de buffet para festas, você deve obrigatoriamente divulgar isso para que as pessoas encontre quando precisar.</p>
                            <p>O IShoopping possui um filtro que exibe primeiramente só os sites que estão mais próximos dos seus clientes. Assim se uma pessoa que mora em São Paulo buscar por um serviço de buffet ela irá encontrar primeiramente as empresas da cidade de São Paulo.</p>
                        </div>
                        <a class="btn btn-xl u-btn-primary text-uppercase g-font-weight-600 g-font-size-12 rounded g-mr-15 g-mb-10 g-mb-0--sm" href="@Url.Action("About")">Saiba Mais</a>
                        <small class="d-block d-sm-inline-block g-color-gray-dark-v5 g-font-size-12">Entenda mais a diferença entre o IShoopping e outros sites</small>
                    </div>
                    <!-- End Section Content -->
                </div>
            </div>
        </section>
        <!-- End Our Environment -->

        <section class="g-bg-gray-light-v5">
            <div class="container g-pt-100 g-pb-70">
                <div class="row justify-content-center g-mb-60">
                    <div class="col-lg-7">
                        <!-- Heading -->
                        <div class="text-center">
                            <h2 class="h3 g-color-black text-uppercase mb-2">Conheça Nossos Planos</h2>
                            <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                            <p class="mb-0">No ishoopping você paga um único valor fixo pelo plano e pode cancelar quando quiser. Escolha um plano de sua preferência e clique em Usar Este para criar a sua conta e testá-lo gratuitamente.</p>
                        </div>
                        <!-- End Heading -->
                    </div>
                </div>

                <div class="shortcode-html">
                    <div class="row">
                        <div class="col-md-4 g-mb-30">
                            <!-- Article -->
                            <article class="text-center g-bg-white g-rounded-15 g-overflow-hidden g-transform-scale-1_05--hover g-transition-0_3">
                                <!-- Article Header -->
                                <header class="g-bg-primary g-pos-rel g-px-20 g-py-50">
                                    <svg class="g-pos-abs g-bottom-0 g-left-0 g-right-0" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="70px" viewBox="0 0 300 70">
                                        <path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729 c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.6" fill="#ffffff"></path>
                                        <path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729 c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.6" fill="#ffffff"></path>
                                        <path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716 H42.401L43.415,98.342z" opacity="0.7" fill="#ffffff"></path>
                                        <path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428 c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#ffffff"></path>
                                    </svg>
                                    <strong class="d-block g-color-white g-font-size-50 g-line-height-0_7 g-mb-20">
                                        <span class="g-valign-top g-font-size-default">R$</span>
                                        19,90
                                        <span class="g-font-size-default">/ mês</span>
                                    </strong>
                                    <h3 class="h6 text-uppercase g-color-white-opacity-0_7 g-letter-spacing-3 g-mb-20">Basic</h3>
                                </header>
                                <!-- End Article Header -->
                                <!-- Article Content -->
                                <div class="g-px-20 g-py-40">
                                    <ul class="list-unstyled g-mb-40">
                                        <li class="g-mb-20">Basic Templates</li>
                                        <li class="g-mb-20">15 e-mail/dia</li>
                                        <li class="g-mb-20">Blog</li>
                                        <li class="g-mb-20">Suporte</li>
                                        <li class="g-mb-20">X</li>
                                    </ul>
                                    <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30 g-mb-10" href="@Url.Action("Index", "Profiles")">Usar Este</a>
                                </div>
                                <!-- End Article Content -->
                            </article>
                            <!-- End Article -->
                        </div>

                        <div class="col-md-4 g-mb-30">
                            <!-- Article -->
                            <article class="text-center g-bg-white g-rounded-15 g-overflow-hidden g-transform-scale-1_05--hover g-transition-0_3">
                                <!-- Article Header -->
                                <header class="g-bg-primary g-pos-rel g-px-20 g-py-50">
                                    <svg class="g-pos-abs g-bottom-0 g-left-0 g-right-0" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="70px" viewBox="0 0 300 70">
                                        <path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729 c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.6" fill="#ffffff"></path>
                                        <path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729 c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.6" fill="#ffffff"></path>
                                        <path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716 H42.401L43.415,98.342z" opacity="0.7" fill="#ffffff"></path>
                                        <path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428 c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#ffffff"></path>
                                    </svg>
                                    <strong class="d-block g-color-white g-font-size-50 g-line-height-0_7 g-mb-20">
                                        <span class="g-valign-top g-font-size-default">R$</span>
                                        29,90
                                        <span class="g-font-size-default">/ mês</span>
                                    </strong>
                                    <h3 class="h6 text-uppercase g-color-white-opacity-0_7 g-letter-spacing-3 g-mb-20">Basic Pro</h3>
                                </header>
                                <!-- End Article Header -->
                                <!-- Article Content -->
                                <div class="g-px-20 g-py-40">
                                    <ul class="list-unstyled g-mb-40">
                                        <li class="g-mb-20">Basic Pro Templates</li>
                                        <li class="g-mb-20">30 e-mail/dia</li>
                                        <li class="g-mb-20">Blog</li>
                                        <li class="g-mb-20">Suporte</li>
                                        <li class="g-mb-20">X</li>
                                    </ul>
                                    <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30 g-mb-10" href="@Url.Action("Index", "Profiles")">Usar Este</a>
                                </div>
                                <!-- End Article Content -->
                            </article>
                            <!-- End Article -->
                        </div>

                        <div class="col-md-4 g-mb-30">
                            <!-- Article -->
                            <article class="text-center g-bg-white g-rounded-15 g-overflow-hidden g-transform-scale-1_05--hover g-transition-0_3">
                                <!-- Article Header -->
                                <header class="g-bg-primary g-pos-rel g-px-20 g-py-50">
                                    <svg class="g-pos-abs g-bottom-0 g-left-0 g-right-0" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="70px" viewBox="0 0 300 70">
                                        <path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729 c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.6" fill="#ffffff"></path>
                                        <path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729 c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.6" fill="#ffffff"></path>
                                        <path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716 H42.401L43.415,98.342z" opacity="0.7" fill="#ffffff"></path>
                                        <path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428 c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#ffffff"></path>
                                    </svg>
                                    <strong class="d-block g-color-white g-font-size-50 g-line-height-0_7 g-mb-20">
                                        <span class="g-valign-top g-font-size-default">R$</span>
                                        39,90
                                        <span class="g-font-size-default">/ mês</span>
                                    </strong>
                                    <h3 class="h6 text-uppercase g-color-white-opacity-0_7 g-letter-spacing-3 g-mb-20">Professional</h3>
                                </header>
                                <!-- End Article Header -->
                                <!-- Article Content -->
                                <div class="g-px-20 g-py-40">
                                    <ul class="list-unstyled g-mb-40">
                                        <li class="g-mb-20">Professional Templates</li>
                                        <li class="g-mb-20">60 e-mail/dia</li>
                                        <li class="g-mb-20">Blog</li>
                                        <li class="g-mb-20">Suporte</li>
                                        <li class="g-mb-20">Mais Imagens</li>
                                    </ul>
                                    <a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-size-12 g-font-weight-700 g-pa-15-30 g-mb-10" href="@Url.Action("Index", "Profiles")">Usar Este</a>
                                </div>
                                <!-- End Article Content -->
                            </article>
                            <!-- End Article -->
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- Latest News -->
        <section class="g-py-100">
            <div class="container">
                <header class="g-mb-50">
                    <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                        <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">Nossos Últimos Posts</h2>
                    </div>
                    <p class="g-font-size-16">Leia nossos últimos posts e conheça as novas tecnologias do mercado e saiba como usá-las para expandir a sua empresa. Fique sempre por dentro da atualidade para não perder nenhuma oportunidade de negócio. Clique para abrir o link</p>
                </header>

                <div class="row">
                    <div class="col-lg-4 g-mb-30 g-mb-0--lg">
                        <!-- Article -->
                        <article class="u-shadow-v11 rounded">
                            <div class="g-pa-30">
                                <h2 class="g-font-weight-300 g-mb-15">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="/Appview/Singlepost/3fb15711-43e0-e711-80bc-bc305b867444" target="_blank">O que é Marketing Digital e como usalo para expandir o seu negócio</a>
                                </h2>
                                <p>Marketing Digital quer dizer propaganda pela internet usando celulares, computadores, vídeos, redes sociais e etc., ou seja propaganda usando os meios digitais...</p>
                            </div>

                            <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
                                <img class="d-flex mr-2 rounded-circle g-width-20 g-height-20" src="~/Images/Ishopping/blog1.png" alt="Image description">
                                <div class="media-body align-self-center">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="/AppView/Blog?siteNumber=979178041" target="_blank">Raphael Andrade</a>
                                </div>

                            </div>
                        </article>
                        <!-- End Article -->
                    </div>

                    <div class="col-lg-4 g-mb-30 g-mb-0--lg">
                        <!-- Article -->
                        <article class="u-shadow-v11 rounded">
                            <div class="g-pa-30">
                                <h2 class="g-font-weight-300 g-mb-15">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="/AppView/SinglePost/192d1685-43e0-e711-80bc-bc305b867444" target="_blank">Marketing Direto e Marketing Indireto saiba o que é e como usar</a>
                                </h2>
                                <p>Marketing direto é quando você faz uma propaganda direta do seu produto exibindo a suas características diretamente ao cliente. Marketing Indireto é o tipo de propaganda que se encontra...</p>
                            </div>

                            <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
                                <img class="d-flex mr-2 rounded-circle g-width-20 g-height-20" src="~/Images/Ishopping/blog1.png" alt="Image description">
                                <div class="media-body align-self-center">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="/AppView/Blog?siteNumber=979178041" target="_blank">Raphael Andrade</a>
                                </div>

                            </div>
                        </article>
                        <!-- End Article -->
                    </div>

                    <div class="col-lg-4">
                        <!-- Article -->
                        <article class="u-shadow-v11 rounded">
                            <div class="g-pa-30">
                                <h2 class="g-font-weight-300 g-mb-15">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="/AppView/SinglePost/70e56fdc-43e0-e711-80bc-bc305b867444" target="_blank">Como criar um site na internet e no ishoopping entenda as diferenças</a>
                                </h2>
                                <p>O ishoopping é uma plataforma que ajuda você a pôr a sua empresa no mundo do marketing digital. No ishoopping você pode criar um site facilmente apenas editando textos e adicionando imagens ...</p>
                            </div>

                            <div class="media g-font-size-12 g-brd-top g-brd-gray-light-v4 g-pa-15-30">
                                <img class="d-flex mr-2 rounded-circle g-width-20 g-height-20" src="~/Images/Ishopping/blog1.png" alt="Image description">
                                <div class="media-body align-self-center">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="/AppView/Blog?siteNumber=979178041" target="_blank">Raphael Andrade</a>
                                </div>

                            </div>
                        </article>
                        <!-- End Article -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Latest News -->
        <!-- Call To Action -->
        <section class="g-bg-primary g-color-white g-pa-30" style="background-image: url(../../Componentes/Premium/Unify/assets/img/bg/pattern5.png);">
            <div class="d-md-flex justify-content-md-center text-center">
                <div class="align-self-md-center">
                    <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">Veja como é fácil criar um site no ishoopping</p>
                </div>
                <div class="align-self-md-center">
                    <a class="btn btn-lg u-btn-white text-uppercase g-font-weight-600 g-font-size-12" target="_blank" href="@Url.Action("Profiles")">Experimente grátis</a>
                </div>
            </div>
        </section>
        <!-- End Call To Action -->
        <!-- Footer -->
        <div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
            <div class="container">
                <div class="row">
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">IShoopping</h2>
                        </div>
                        <p>Bem Vindo ao Mundo do Marketing Digital.</p>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Últimos Posts</h2>
                        </div>

                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/Appview/Singlepost/3fb15711-43e0-e711-80bc-bc305b867444" target="_blank">Marketing Digital</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">Dezembro 5, 2017</div>
                        </article>

                        <hr class="g-brd-white-opacity-0_1 g-my-10">

                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/AppView/SinglePost/192d1685-43e0-e711-80bc-bc305b867444" target="_blank">Tipos de Marketign</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">Dezembro 5, 2017</div>
                        </article>

                        <hr class="g-brd-white-opacity-0_1 g-my-10">

                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/AppView/SinglePost/70e56fdc-43e0-e711-80bc-bc305b867444" target="_blank">Como criar seu Website</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">Dezembro 5, 2017</div>
                        </article>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Nossos Links</h2>
                        </div>

                        <nav class="text-uppercase1">
                            <ul class="list-unstyled g-mt-minus-10 mb-0">
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("About")">Sobre</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("Blog", "AppView")">Blog</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("Tutorial")">Tutorial</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("Contact")">Contato</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Nossos Contatos</h2>
                        </div>

                        <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(../../Componentes/Premium/Unify/assets/img/maps/map2.png);">
                            <!-- Location -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-map-marker"></i>
                                    </span>
                                </div>
                                <p class="mb-0">Rio de Janeiro<br> Rio de Janeiro, Brasil</p>
                            </div>
                            <!-- End Location -->
                            <!-- Phone
                            <div class="d-flex g-mb-20">
                              <div class="g-mr-10">
                                <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                  <i class="fa fa-phone"></i>
                                </span>
                              </div>
                              <p class="mb-0">(+123) 456 7890 <br> (+123) 456 7891</p>
                            </div>
                            End Phone -->
                            <!-- Email and Website -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                </div>
                                <p class="mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:suporte@ishoopping.com.br">suporte@ishoopping.com.br</a>
                                    <br>
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">ishoopping.com.br</a>
                                </p>
                            </div>
                            <!-- End Email and Website -->
                        </address>
                    </div>
                    <!-- End Footer Content -->
                </div>
            </div>
        </div>
        <!-- End Footer -->
        <!-- Copyright Footer -->
        <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
                        <div class="d-lg-flex">
                            <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">@DateTime.Now.Year.ToString() © Todos os Direitos Reservados.</small>
                            <ul class="u-list-inline">
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("TermsOfUse")">Termos de Uso</a>
                                </li>
                                <li class="list-inline-item">
                                    <span>|</span>
                                </li>
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("Contact")">Suporte</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 align-self-center">
                        <ul class="list-inline text-center text-md-right mb-0">
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <a href="http://twitter.com/share?text=Crie%20um%20site%20lindo%20e%20rápido%20com%20o%20IShoopping&url=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Google">
                                <a href="https://plus.google.com/share?url=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-google"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
                                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Tumblr">
                                <a href="http://www.tumblr.com/share/link?url=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-tumblr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>
        <!-- End Copyright Footer -->

        <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>
    </main>

    <div class="u-outer-spaces-helper"></div>


    <!-- JS Global Compulsory -->
    <script src="~/Componentes/Premium/Unify/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/jquery.easing/js/jquery.easing.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/popper.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="~/Componentes/Premium/Unify/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/typedjs/typed.min.js"></script>

    <!-- JS Unify -->
    <script src="~/Componentes/Premium/Unify/assets/js/hs.core.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.header.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/helpers/hs.hamburgers.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.tabs.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.popup.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.carousel.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/text-animation/hs.text-slideshow.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script src="~/Componentes/Premium/Unify/assets/js/custom.js"></script>

    <!-- JS IShoopping -->
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Ishopping/Ishopping/Search.js"></script>
    <script src="~/Scripts/Ishopping/Ishopping/LoadByLatLngNoMap.js"></script>
    <script src="~/Scripts/Ishopping/SocialNetworks.min.js"></script>
    

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');

            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization of text animation (typing)
            $(".u-text-animation.u-text-animation--typing").typed({
                strings: [
                    "você cria um website",
                    "você divulga a sua empresa",
                    "você impressiona seus clientes"
                ],
                typeSpeed: 60,
                loop: true,
                backDelay: 1500
            });
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
    </script>

</body>

</html>
