@{
    ViewBag.Title = "TemplateView";
}


<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
    <h1>Escolha o Template</h1>
    <p>Os templates podem ter algumas diferenças entre a demo e o que será usado no site</p>
    <p>
        <a href="@Url.Action("Index","Profiles")" class="btn btn-primary btn-large">Voltar</a>
    </p>
</header>

<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Últimos Templates</h3>
    </div>
</div>
<!-- /.row -->
<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-4 col-lg-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/Professional/Techgut.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Techgut</h3>
                <p>Professional Template.</p>
                <p>
                    <a href="@Url.Action("Demo","Techgut")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/Professional/Maxima.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Maxima</h3>
                <p>Professional Template.</p>
                <p>
                    <a href="@Url.Action("Demo","Maxima")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/Professional/Arcadia.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Arcadia</h3>
                <p>Professional Template.</p>
                <p>
                    <a href="@Url.Action("Demo","Arcadia")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div> 

    <div class="col-md-4 col-lg-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/Professional/Egret.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Egret</h3>
                <p>Professional Template.</p>
                <p>
                    <a href="@Url.Action("Demo","Egret")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/Professional/CreativeStar.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>CreativeStar</h3>
                <p>Professional Template.</p>
                <p>
                    <a href="@Url.Action("Demo", "CreativeStar")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/Professional/Krefolio.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Krefolio</h3>
                <p>Professional Template.</p>
                <p>
                    <a href="@Url.Action("Demo", "Krefolio")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>    

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/BasicPro/Oxygen.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Oxygen</h3>
                <p>BasicPro Template.</p>
                <p>
                    <a href="@Url.Action("Demo", "Oxygen")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/BasicPro/Restaurant.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Restaurant</h3>
                <p>BasicPro Template.</p>
                <p>
                    <a href="@Url.Action("Demo", "Restaurant")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/BasicPro/Himu.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Himu</h3>
                <p>BasicPro Template.</p>
                <p>
                    <a href="@Url.Action("Demo","Himu")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/BasicPro/Spirit.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Spirit</h3>
                <p>BasicPro Template.</p>
                <p>
                    <a href="@Url.Action("Demo","Spirit")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/BasicPro/Blue.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Blue</h3>
                <p>BasicPro Template.</p>
                <p>
                    <a href="@Url.Action("Demo","Blue")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/BasicPro/Doctor.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Doctor</h3>
                <p>BasicPro Template.</p>
                <p>
                    <a href="@Url.Action("Demo","Doctor")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/BasicPro/Multi.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Multi</h3>
                <p>BasicPro Template.</p>
                <p>
                    <a href="@Url.Action("Demo","Multi")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/BasicPro/Cyprass.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Cyprass</h3>
                <p>BasicPro Template.</p>
                <p>
                    <a href="@Url.Action("Demo", "Cyprass")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/Basic/Creative.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Creative</h3>
                <p>Basic Template.</p>
                <p>
                    <a href="@Url.Action("Demo", "Creative")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/Basic/Agency.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Agency</h3>
                <p>Basic Template.</p>
                <p>
                    <a href="@Url.Action("Demo", "Agency")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/Basic/LandingPage.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>LandinPage</h3>
                <p>Basic Template.</p>
                <p>
                    <a href="@Url.Action("Demo", "LandinPage")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/Basic/Grayscale.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Grayscale</h3>
                <p>Basic Template.</p>
                <p>
                    <a href="@Url.Action("Demo", "Grayscale")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/Basic/Shield.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>Shield</h3>
                <p>Basic Template.</p>
                <p>
                    <a href="@Url.Action("Demo", "Shield")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/Content/uploads/1101/Basic/AppPlus.jpg" alt="">
            <div class="caption" style="background-color:#f7f5f5">
                <h3>AppPlus</h3>
                <p>Basic Template.</p>
                <p>
                    <a href="@Url.Action("Demo", "AppPlus")" target="_blank" class="btn btn-default">Visualizar</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
