
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Title -->
    <title>Termos de Uso | IShoopping</title>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <!-- Meta Tags Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.ishoopping.com.br/Home/TermsOfUse">
    <meta property="og:title" content="Crie um site fácil e rápido para sua empresa usando o ishoopping" />
    <meta property="og:description" content="O IShoopping é uma plataforma para criar e manter seu site de maneira fácil e rápida, sem a necessidade de domínio ou plano de hospedagem. Teste gratuitamente" />
    <meta property="og:image" content="https://www.ishoopping.com.br/Images/Ishopping/ishoopping_midia.jpg" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Componentes/Premium/Unify/favicon.ico">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/bootstrap/bootstrap.min.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/animate.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/hamburgers/hamburgers.min.css">
    <!-- CSS Unify -->
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/css/unify-core.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/css/unify-components.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/css/unify-globals.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/css/custom.css">
</head>

<body>
    <main>

        <!-- Header -->
        <header id="js-header" class="u-header u-header--static--lg u-header--show-hide--lg u-header--change-appearance--lg" data-header-fix-moment="500" data-header-fix-effect="slide">
            <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-bg-white g-py-10" data-header-fix-moment-classes="g-bg-white-opacity-0_7 u-shadow-v18 g-py-0">
                <nav class="js-mega-menu navbar navbar-expand-lg">
                    <div class="container">
                        <!-- Responsive Toggle Button -->
                        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->
                        <!-- Logo -->
                        <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                            <img src="~/Images/Ishopping/logo.png" alt="Image Description">
                        </a>
                        <!-- End Logo -->
                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                            <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                                <li class="nav-item g-mx-10--lg">
                                    <a href="@Url.Action("Index", "Home")" class="nav-link px-0">Home</a>
                                </li>
                                <li class="nav-item g-mx-10--lg">
                                    <a href="@Url.Action("Index", "Home")#search" class="nav-link px-0">Pesquisar</a>
                                </li>
                                <li class="nav-item g-mx-10--lg">
                                    <a href="@Url.Action("About", "Home")" class="nav-link px-0">Sobre</a>
                                </li>
                                <li class="nav-item g-mx-10--lg">
                                    <a href="@Url.Action("Blog","AppView")" class="nav-link px-0">Blog</a>
                                </li>
                                @Html.Partial("_LoginPartialIs")
                            </ul>
                        </div>
                        <!-- End Navigation -->
                    </div>
                </nav>
            </div>
        </header>
        <!-- End Header -->
        <!-- Promo Block -->
        <section class="g-brd-bottom g-brd-gray-light-v4">
            <div class="container g-py-150">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
                        <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">Termos de Uso</h2>
                        <p class="mb-0">Ao iniciar e usar os serviços do site ishoopping.com.br o contratante dos serviços e a contratada prestadora dos serviços concordam com os seguintes termos de uso presentes e descritos nesta página.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Promo Block -->

        <section class="container g-py-100">
            <div class="g-mb-50">
                <h3 class="g-color-black g-font-weight-600 mb-3">Quanto à violação destes termos de uso</h3>
                <p>
                    <span class="g-font-weight-700">1.0</span>
                    A contratada se reserva no direito de interromper os serviços prestados ao contratante mesmo sem prévio aviso caso o contratante viole qualquer termo de uso descritos neste termo de uso
                </p>
            </div>
            <div class="g-mb-50">
                <h3 class="g-color-black g-font-weight-600 mb-3">Em relação ao conteúdo publicado pelo contratante</h3>
                <p>
                    <span class="g-font-weight-700">2.0</span>
                    A contratada não tem nenhuma responsabilidade pelo conteúdo (imagens, textos, ou qualquer outro tipo de arquivo) publicado pelo contratante, cabendo a este a total responsabilidade das imagens, textos ou qualquer outro tipo de arquivo exibidos nas páginas.
                </p>
                <p>
                    <span class="g-font-weight-700">2.1</span>
                    A contratada se reserva no direito de excluir sem qualquer aviso qualquer tipo de imagens, vídeos ou textos que violam os termos de uso descritos neste termo de uso.
                </p>
            </div>
            <div class="g-mb-50">
                <h3 class="g-color-black g-font-weight-600 mb-3">Quanto as obrigatoriedades da contratada</h3>
                <p>
                    <span class="g-font-weight-700">3.0</span>
                    A contratada tem a obrigatoriedade de manter os serviços descritos em funcionamento normal por um período de pelo menos 95% do tempo em relação às horas de cada mês.
                </p>
                <p>
                    <span class="g-font-weight-700">3.1</span>
                    Oferecer suporte ao cliente em casos de dúvidas e esclarecimentos sobre, e somente sobre os serviços vinculados e oferecido pelo site ishoopping.com.br
                </p>
                <p>
                    <span class="g-font-weight-700">3.2</span>
                    Reembolsar o cliente contratante dos serviços em casos, e somente nos casos descritos neste termos de uso no parágrafo sobre a política de reembolso.
                </p>
            </div>
            <div class="g-mb-50">
                <h3 class="g-color-black g-font-weight-600 mb-3">Quanto as obrigatoriedades do contratante</h3>
                <p>
                    <span class="g-font-weight-700">4.0</span>
                    O contratante não deve em hipótese alguma usar meios que tentem fraudar os serviços ou qualquer parte do sistema, bem como fica proibido o uso de qualquer software que prejudique parte ou o sistema em si.
                </p>
                <p>
                    <span class="g-font-weight-700">4.1</span>
                    Fica expressamente proibida a cópia parcial ou integral de qualquer parte do software, ou a divulgação e exposição a terceiros por qualquer meio.
                </p>
                <p>
                    <span class="g-font-weight-700">4.2</span>
                    O contratante está ciente que não deve publicar imagens, textos ou qualquer conteúdo que possua direitos autorais sem o consentimento e a permissão dos mesmos, podendo o ishoopping excluir tal conteúdo mesmo sem prévio aviso.
                </p>
                <p>
                    <span class="g-font-weight-700">4.3</span>
                    Fica expressamente proibida sob qualquer circunstância que o contratante crie, copie ou divulgue textos, imagens ou qualquer conteúdo que tenha pornografia, nudez explícita, racismo, intolerância, apologia ao crime,  ofensa a terceiros ou qualquer conteúdo que influencie o ódio e a violência.
                </p>
                <p>
                    <span class="g-font-weight-700">4.4</span>
                    Fica expressamente proibida sob qualquer circunstância que o contratante divulgue conteúdos, imagens, textos, vídeos e etc. que são proibidos pela lei vigente da região, como por exemplo drogas ilícitas.  Fica também vedada a exposição ou venda de qualquer tipo de produto ou medicamento que tenha a sua venda restrita de acordo com a lei vigente da região.
                </p>
                <p>
                    <span class="g-font-weight-700">4.5</span>
                    A contratada se reserva no direito de excluir mesmo sem prévio aviso qualquer conteúdo considerado inadequado ou que viole os termos de uso descritos neste documento.
                </p>
            </div>
            <div class="g-mb-50">
                <h3 class="g-color-black g-font-weight-600 mb-3">Quanto ao uso dos serviços</h3>
                <p>
                    <span class="g-font-weight-700">5.0</span>
                    O contratante está ciente e concorda que a contratada não permitirá em hipótese alguma que o cliente use ou copie qualquer conteúdo feito dentro do site ishoopping.com.br seja transferido ou usado para outro serviço que não seja exclusivamente dentro do site ishoopping.com.br
                </p>
                <p>
                    <span class="g-font-weight-700">5.1</span>
                    O contratante está ciente e concorda que os pagamentos referente ao plano escolhido tem que estar em dia e não devem ultrapassar a data de vencimento, o não pagamento após a data de vencimento suspenderá os serviços imediatamente mesmo sem aviso prévio, o não pagamento por um período de 2 meses contados a partir da última data de vencimento acarretará na exclusão da conta do cliente e de todos os seus arquivos presentes no site permanentemente mesmo sem aviso prévio.
                </p>
                <p>
                    <span class="g-font-weight-700">5.2</span>
                    O contratante está ciente e concorda que o não pagamento após o período de testes que tem validade de 1 mês, acarretará na exclusão de todos os arquivos presentes no site permanentemente mesmo sem prévio aviso.
                </p>
                <p>
                    <span class="g-font-weight-700">5.3</span>
                    A contratada só permitirá o uso completo dos serviços e a exibição dos mesmos para o público mediante o pagamento total do plano escolhido, e após a confirmação positiva da financeira responsável pelo pagamento.
                </p>
                <p>
                    <span class="g-font-weight-700">5.4</span>
                    O contratante tem o dever de avisar a financeira responsável pelo pagamento que o produto ou serviço foi entregue com êxito e que a financeira deve continuar o processo para liberação do pagamento ao vendedor.
                </p>
                <p>
                    <span class="g-font-weight-700">5.5</span>
                    O contratante após a confirmação do pagamento pela financeira não pode abrir uma disputa com a mesma. Caso o contratante abra uma disputa perante a financeira os serviços serão suspensos imediatamente mesmo sem prévio aviso.
                </p>
                <p>
                    <span class="g-font-weight-700">5.6</span>
                    O contratante está ciente e concorda que a quantidade de armazenamento de imagens e a quantidade de e-mails enviados é limitada e esse limite pode variar de acordo com cada plano
                </p>
            </div>

            <div class="g-mb-50">
                <h3 class="g-color-black g-font-weight-600 mb-3">Em relação às trocas de plano ou template</h3>
                <p>
                    <span class="g-font-weight-700">6.0</span>
                    O contratante tem o direito de trocar de plano 3 vezes ao dia e 9 vezes ao mês. A troca por templates do mesmo plano não acarretará em mudanças nos valores ou na data de vencimento.
                </p>
                <p>
                    <span class="g-font-weight-700">6.1</span>
                    O contratante está ciente e concorda que a troca de plano, template ou página inicial acarretará na perda de suas configurações anteriores e todas as suas imagens, textos, vídeos e demais conteúdos serão apagados permanentemente. E por conta disto o contratante não deve usar o site como backup de imagens.
                </p>
                <p>
                    <span class="g-font-weight-700">6.2</span>
                    Ao trocar de plano um novo cálculo será feito baseado no saldo atual do cliente, este saldo é baseado no valor do plano atual descontando os dias de uso. O saldo atual do cliente é subtraído a cada fração de hora e o valor dependerá do valor plano escolhido.
                </p>
                <p>
                    <span class="g-font-weight-700">6.3</span>
                    Se o saldo atual do cliente for suficiente para cobrir o valor do novo plano então esse valor é descontado automaticamente desse saldo, não necessitando do cliente realizar um novo pagamento. Em caso de o saldo ser maior que o valor do novo plano, será adicionado dias a mais ao cliente para compensar esse valor.
                </p>
                <p>
                    <span class="g-font-weight-700">6.4</span>
                    Se o saldo atual do cliente não for suficiente para cobrir o novo plano então um novo pagamento será solicitado. O valor mínimo para qualquer pagamento é de R$ 5,00. Caso o valor calculado esteja abaixo de R$ 5,00 então serão adicionados dias a mais ao plano para que esse valor possa ser igual ou maior que R$ 5,00. O contratante está ciente que o serviço será interrompido até que se faça um novo pagamento.
                </p>
                <p>
                    <span class="g-font-weight-700">6.5</span>
                    Os descontos e dias adicionados ao cliente na troca do plano serão dados somente ao se efetuar a mudança de plano. Os valores a serem pagos futuramente serão os valores normais de cada plano.
                </p>
            </div>

            <div class="g-mb-50">
                <h3 class="g-color-black g-font-weight-600 mb-3">Em casos de falha dos serviços</h3>
                <p>
                    <span class="g-font-weight-700">7.0</span>
                    O contratante está ciente e concorda que podem haver falhas ou interrupções no serviço a qualquer momento e pôr um breve período de tempo, não dando direito a contratante a reembolso ou desconto.
                </p>
                <p>
                    <span class="g-font-weight-700">7.1</span>
                    Em caso de falhas graves e reconhecidas pela contratada em que o período de tempo for superior a 5% do total de horas em um mês, a contratada dará desconto a contratante mediante a solicitação do contratante. O valor do desconto será calculado pelo período em que os serviços foram interrompidos X o valor do plano.
                </p>
                <p>
                    <span class="g-font-weight-700">7.2</span>
                    O contratante entende e concorda que a contratada se mantém no direito de fazer manutenção periódica no sistema e que este ocorrerá preferencialmente entre 2h à 8h da manhã podendo ocorrer de 2 a 3 vezes ao mês, não dando direito a contratante a reembolso ou desconto.
                </p>
                <p>
                    <span class="g-font-weight-700">7.3</span>
                    A contratada se mantém no direito de interromper os serviços a qualquer hora para correção de falhas ou manutenção  periódica. Esses serviços ocorrerá preferencialmente entre 2h à 8h da manhã, mas em caso emergencial poderá ocorrer a qualquer hora do dia mesmo sem prévio aviso.
                </p>
            </div>
            <div class="g-mb-50">
                <h3 class="g-color-black g-font-weight-600 mb-3">Em relação à política de reembolso </h3>
                <p>
                    <span class="g-font-weight-700">8.0</span>
                    O contratante está ciente e concorda que não haverá reembolso por motivos de desistência do uso dos serviços por parte do contratante.
                </p>
                <p>
                    <span class="g-font-weight-700">8.1</span>
                    A contratada reembolsará  a contratante se e somente se:
                </p>
                <ul>
                    <li class="mb-3">
                        Ocorrer falhas periódicas não programadas no sistema por um período de tempo superior a 5% de horas de cada mês. Neste caso o reembolso será parcial e proporcional ao período de tempo da interrupção dos serviços.
                    </li>
                    <li class="mb-3">
                        O serviço escolhido apresentar problemas que não podem ser corrigidos. Neste caso o reembolso será integral.
                    </li>
                    <li class="mb-3">
                        Cancelamento dos serviços prestados por tempo indeterminado por  parte da contratada. Neste caso o reembolso será parcial e proporcional e será descontado o tempo em que a contratante se beneficiou do serviço.
                    </li>
                    <li class="mb-3">
                        Ocorrer a remoção do template pôr pedido do real proprietário  em caso de uma discordância pelo seu uso. Neste caso o contratante poderá escolher outro template ou pedir o reembolso parcial e proporcional descontando o período de tempo em que se beneficiou dos serviços.
                    </li>
                    <li class="mb-3">
                        Ocorrer a remoção do template ou de qualquer serviço por parte da contratada que seja considerado obsoleto ou apresentar problemas. Neste caso o contratante poderá escolher outro template ou pedir o reembolso parcial e proporcional descontando o período de tempo em que se beneficiou dos serviços.
                    </li>
                </ul>
            </div>
            <div class="g-mb-50">
                <h3 class="g-color-black g-font-weight-600 mb-3">Quanto aos serviços externos</h3>
                <p>
                    Em relação a serviços externos se entende serviços prestados por outras entidades.
                </p>
                <p>
                    <span class="g-font-weight-700">9.0</span>
                    Serviços do Google Mapas.
                </p>
                <ul>
                    <li class="mb-3">
                        O ishoopping ainda não possui vínculo com o google mapas, o uso do google mapas vai depender do número de requisições por dia no site e não deve ultrapassar 25000 (vinte e cinco mil) caso este valor seja ultrapassado os serviços do google mapas pode ficar suspenso até o dia seguinte.
                    </li>
                </ul>
                <p>
                    <span class="g-font-weight-700">9.1</span>
                    Em relação aos templates
                </p>
                <ul>
                    <li class="mb-3">
                        Alguns templates usados no ishoopping são de uso livre e foram concebidos de forma gratuita pelo proprietário, podendo a qualquer usuário fazer o uso dos mesmos desde que se respeite as licenças de uso, como não vender, não redistribuir, não alterar o nome ou o site do real proprietário. O contratante ou qualquer outro usuário é livre para ir até o site do fornecedor do template e fazer o download do mesmo. O contratante está ciente de que não tem o direito de alterar os trechos correspondentes ao real proprietário do template.
                    </li>
                </ul>
            </div>
            <div class="g-mb-50">
                <h3 class="g-color-black g-font-weight-600 mb-3">Quanto ao cancelamento ou exclusão de serviços pela contratada</h3>
                <p>
                    <span class="g-font-weight-700">10.0</span>
                    A contratada se reserva no direito de cancelar ou excluir qualquer serviço prestado ao contratante salvo de aviso prévio e com antecedência de pelo menos uma semana mesmo que o contratante esteja usando os serviços. Neste caso o contratante terá direito a reembolso. Excepcionalmente em casos que o contratante viole os termos de uso esse não tera direito a reembolso ou aviso previo.
                </p>
                <p>
                    <span class="g-font-weight-700">10.1</span>
                    A contratada se reserva no direito de excluir ou modificar qualquer serviço ou template se este apresentar problemas ou for considerado obsoleto. Neste caso o contratante terá direito a reembolso.
                </p>
            </div>
            <div class="g-mb-50">
                <h3 class="g-color-black g-font-weight-600 mb-3">Quanto ao cancelamento dos serviços por parte do contratante</h3>
                <p>
                    <span class="g-font-weight-700">11.0</span>
                    A contratada se reserva no direito de cancelar ou excluir qualquer serviço prestado ao contratante salvo de aviso prévio e com antecedência de pelo menos uma semana mesmo que o contratante esteja usando os serviços. Neste caso o contratante terá direito a reembolso. Excepcionalmente em casos que o contratante viole os termos de uso esse não tera direito a reembolso ou aviso previo.
                </p>
                <p>
                    <span class="g-font-weight-700">11.1</span>
                    O contratante está ciente e concorda que o cancelamento dos serviços por parte do contratante não implica em qualquer tipo de reembolso.
                </p>
            </div>
        </section>

        <!-- Footer -->
        <div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
            <div class="container">
                <div class="row">
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">IShoopping</h2>
                        </div>
                        <p>Bem Vindo ao Mundo do Marketing Digital.</p>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Últimos Posts</h2>
                        </div>

                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/Appview/Singlepost/3fb15711-43e0-e711-80bc-bc305b867444" target="_blank">Marketing Digital</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">Dezembro 5, 2017</div>
                        </article>

                        <hr class="g-brd-white-opacity-0_1 g-my-10">

                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/AppView/SinglePost/192d1685-43e0-e711-80bc-bc305b867444" target="_blank">Tipos de Marketign</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">Dezembro 5, 2017</div>
                        </article>

                        <hr class="g-brd-white-opacity-0_1 g-my-10">

                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/AppView/SinglePost/70e56fdc-43e0-e711-80bc-bc305b867444" target="_blank">Como criar seu Website</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">Dezembro 5, 2017</div>
                        </article>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Nossos Links</h2>
                        </div>

                        <nav class="text-uppercase1">
                            <ul class="list-unstyled g-mt-minus-10 mb-0">
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("About")">Sobre</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("Blog", "AppView")">Blog</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("Tutorial")">Tutorial</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("Contact")">Contato</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Nossos Contatos</h2>
                        </div>

                        <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(../../Componentes/Premium/Unify/assets/img/maps/map2.png);">
                            <!-- Location -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-map-marker"></i>
                                    </span>
                                </div>
                                <p class="mb-0">Rio de Janeiro<br> Rio de Janeiro, Brasil</p>
                            </div>
                            <!-- End Location -->
                            <!-- Email and Website -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                </div>
                                <p class="mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:suporte@ishoopping.com.br">suporte@ishoopping.com.br</a>
                                    <br>
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">ishoopping.com.br</a>
                                </p>
                            </div>
                            <!-- End Email and Website -->
                        </address>
                    </div>
                    <!-- End Footer Content -->
                </div>
            </div>
        </div>
        <!-- End Footer -->
        <!-- Copyright Footer -->
        <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
                        <div class="d-lg-flex">
                            <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">@DateTime.Now.Year.ToString() © Todos os Direitos Reservados.</small>
                            <ul class="u-list-inline">
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("TermsOfUse")">Termos de Uso</a>
                                </li>
                                <li class="list-inline-item">
                                    <span>|</span>
                                </li>
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("Contact")">Suporte</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 align-self-center">
                        <ul class="list-inline text-center text-md-right mb-0">
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <a href="http://twitter.com/share?text=Crie%20um%20site%20lindo%20e%20rápido%20com%20o%20IShoopping&url=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Google">
                                <a href="https://plus.google.com/share?url=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-google"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
                                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Tumblr">
                                <a href="http://www.tumblr.com/share/link?url=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-tumblr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>
        <!-- End Copyright Footer -->

        <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>
    </main>
    <div class="u-outer-spaces-helper"></div>

    <!-- JS Global Compulsory -->
    <script src="~/Componentes/Premium/Unify/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/jquery.easing/js/jquery.easing.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/popper.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="~/Componentes/Premium/Unify/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <!-- JS Unify -->
    <script src="~/Componentes/Premium/Unify/assets/js/hs.core.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.header.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/helpers/hs.hamburgers.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.tabs.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.go-to.js"></script>
    <!-- JS Customization -->
    <script src="~/Componentes/Premium/Unify/assets/js/custom.js"></script>
    <script src="~/Scripts/Ishopping/SocialNetworks.min.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
    </script>



</body>

</html>
