@model Ishopping.MVC.ViewModels.Admin.AdminViewData_ViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ViewDatas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Controller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Controller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewCod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewCod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewCod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewCod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListIconPng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListIconPng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListVectorIcon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListVectorIcon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListList)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumBtn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumBtn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
