@model Ishopping.ViewModels.TemplateBasicPro.IndexMultiViewModelDeserialize

@{
    Layout = null;
    var i = 0; var ms = "ms"; var cl = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("_PartialMetaTags")

    <!-- core CSS -->
    <link href="~/Componentes/BasicPro/Multi/css/bootstrap.min.css" rel="stylesheet">
    @if (!string.IsNullOrEmpty(Model.Profile.GoogleFonts))
    {
        <link href='@Model.Profile.GoogleFonts' rel='stylesheet' type='text/css'>
    }
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <link href="~/Componentes/BasicPro/Multi/css/animate.min.css" rel="stylesheet">
    <link href="~/Componentes/BasicPro/Multi/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Componentes/BasicPro/Multi/css/owl.transitions.css" rel="stylesheet">
    <link href="~/Componentes/BasicPro/Multi/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/uploads/@Model.Profile.SiteNumber/main.css" rel="stylesheet">
    <link href="~/Content/uploads/@Model.Profile.SiteNumber/iscss.css" rel="stylesheet">
    <link href="~/Componentes/BasicPro/Multi/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/Componentes/BasicPro/Multi/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Componentes/BasicPro/Multi/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Componentes/BasicPro/Multi/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Componentes/BasicPro/Multi/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Componentes/BasicPro/Multi/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body id="home" class="homepage">

    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="~/Componentes/BasicPro/Multi/images/logo.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        @foreach (var menu in Model.Menu)
                        {
                            <li class="scroll @menu.Active"><a href="@menu.ViewLink">@menu.TextMenu</a></li>
                            foreach (var item in menu.UserMenuViewItem.Where(x => x.OnMenu == true))
                            {
                                <li class="scroll"><a href="@item.Link">@item.TextMenu</a></li>
                            }
                        }
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url(../../Content/uploads/@Model.ImagensForm[0]);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2 class="@Model.Textos[0].StText">@Html.Raw(Model.Textos[0].Text)</h2>
                                    <p class="@Model.Textos[0].StText">@Html.Raw(Model.Textos[1].Text) </p>
                                    @if (Model.Buttons[0].TextButton != "")
                                    {
                                        <a class="btn btn-primary btn-lg @Model.Buttons[0].StButton" href="@Model.Buttons[0].UrlButton">@Html.Raw(Model.Buttons[0].TextButton)</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(../../Content/uploads/@Model.ImagensForm[1]);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2 class="@Model.Textos[2].StText">@Html.Raw(Model.Textos[2].Text)</h2>
                                    <p class="@Model.Textos[3].StText">@Html.Raw(Model.Textos[3].Text)</p>
                                    @if (Model.Buttons[1].TextButton != "")
                                    {
                                        <a class="btn btn-primary btn-lg @Model.Buttons[1].StButton" href="@Model.Buttons[1].UrlButton">@Html.Raw(Model.Buttons[1].TextButton)</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(../../Content/uploads/@Model.ImagensForm[2]);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2 class="@Model.Textos[4].StText">@Html.Raw(Model.Textos[4].Text)</h2>
                                    <p class="@Model.Textos[5].StText">@Html.Raw(Model.Textos[5].Text)</p>
                                    @if (Model.Buttons[2].TextButton != "")
                                    {
                                        <a class="btn btn-primary btn-lg @Model.Buttons[2].StButton" href="@Model.Buttons[2].UrlButton">@Html.Raw(Model.Buttons[2].TextButton)</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    <section id="cta" class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h2 class="@Model.Textos[6].StText">@Html.Raw(Model.Textos[6].Text)</h2>
                    <p class="@Model.Textos[7].StText">@Html.Raw(Model.Textos[7].Text)</p>
                </div>
                <div class="col-sm-3 text-right">
                    @if (Model.Buttons[3].TextButton != "")
                    {
                        <a class="btn btn-primary btn-lg @Model.Buttons[3].StButton" href="@Model.Buttons[3].UrlButton">@Html.Raw(Model.Buttons[3].TextButton)</a>
                    }
                </div>
            </div>
        </div>
    </section><!--/#cta-->
    @if (Model.ItemScope.ItemActive)
    {
        <section id="features">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown @Model.ItemScope.ItemStTitle">@Html.Raw(Model.ItemScope.ItemTitle)</h2>
                    <p class="text-center wow fadeInDown @Model.ItemScope.ItemStSubTitle">@Html.Raw(Model.ItemScope.ItemSubTitle)</p>
                </div>
                <div class="row">
                    <div class="col-sm-6 wow fadeInLeft">
                        <img class="img-responsive" src="~/Content/uploads/@Model.ImagensForm[3]" alt="">
                    </div>
                    <div class="col-sm-6">
                        @foreach (var item in Model.ItemScope.ListItens)
                        {
                            <div class="media service-box wow fadeInRight">
                                <div class="pull-left">
                                    <i class="@item.VectorIcon"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading @item.ComponentScopeOption.Title">@Html.Raw(item.Title)</h4>
                                    <p class="@item.ComponentScopeOption.Description">@Html.Raw(item.Description)</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    }

    <section id="cta2" style="background: #242a33 url(../../Content/uploads/@Model.ImagensForm[4]) no-repeat 50% 50%">
        <div class="container">
            <div class="text-center">
                <h2 class="wow fadeInUp @Model.Textos[8].StText" data-wow-duration="300ms" data-wow-delay="0ms">@Html.Raw(Model.Textos[8].Text)</h2>
                <p class="wow fadeInUp @Model.Textos[9].StText" data-wow-duration="300ms" data-wow-delay="100ms">@Html.Raw(Model.Textos[9].Text)</p>
                @if (Model.Buttons[4].TextButton != "")
                {
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms"><a class="btn btn-primary btn-lg @Model.Buttons[4].StButton" href="@Model.Buttons[4].UrlButton">@Html.Raw(Model.Buttons[4].TextButton)</a></p>
                }
                <img class="img-responsive wow fadeIn" src="~/Content/uploads/@Model.ImagensForm[5]" alt="" data-wow-duration="300ms" data-wow-delay="300ms">
            </div>
        </div>
    </section>

    @if (Model.ItemActivity.ItemActive)
    {
        <section id="services">
            <div class="container">

                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown @Model.ItemActivity.ItemStTitle">@Html.Raw(Model.ItemActivity.ItemTitle)</h2>
                    <p class="text-center wow fadeInDown @Model.ItemActivity.ItemStSubTitle">@Html.Raw(Model.ItemActivity.ItemSubTitle)</p>
                </div>

                <div class="row">
                    <div class="features">
                        @{i = 100;}
                        @foreach (var item in Model.ItemActivity.ListItens)
                        {
                            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="@i@ms">
                                <div class="media service-box">
                                    <div class="pull-left">
                                        <i class="@item.VectorIcon"></i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading @item.ComponentActivityOption.Title">@Html.Raw(item.Title)</h4>
                                        <p class="@item.ComponentActivityOption.Description">@Html.Raw(item.Description)</p>
                                    </div>
                                </div>
                            </div><!--/.col-md-4-->
                        }
                    </div>
                </div><!--/.row-->
            </div><!--/.container-->
        </section>
    }<!--/#services-->
    @if (Model.ItemPortofolio.ItemActive)
    {
        <section id="portfolio">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown @Model.ItemPortofolio.ItemStTitle">@Html.Raw(Model.ItemPortofolio.ItemTitle)</h2>
                    <p class="text-center wow fadeInDown @Model.ItemPortofolio.ItemStSubTitle">@Html.Raw(Model.ItemPortofolio.ItemSubTitle)</p>
                </div>
                <div class="text-center">
                    <ul class="portfolio-filter">
                        <li><a class="active" href="#" data-filter="*">Todos</a></li>
                        @foreach (var item in Model.ItemPortofolio.ListItens.Select(x => x.Category).Distinct())
                        {
                            <li><a href="#" data-filter=".@item.Replace(" "," ")">@item</a></li>
                        }
                    </ul><!--/#portfolio-filter-->
                </div>
                <div class="portfolio-items">
                    @foreach (var item in Model.ItemPortofolio.ListItens)
                    {
                        <div class="portfolio-item @item.Category.Replace(" ", " ")">
                            <div class="portfolio-item-inner">
                                <img class="img-responsive" src="~/Content/uploads/@item.UserImageGallery.Folder/@item.UserImageGallery.FileName" alt="">
                                <div class="portfolio-info">
                                    <h3 class="@item.ComponentPortofolioOption.Title">@Html.Raw(item.Title)</h3>
                                    <p class="@item.ComponentPortofolioOption.Description">@Html.Raw(item.Description)</p>
                                    <a class="preview" href="~/Content/uploads/@item.UserImageGallery.Folder/@item.UserImageGallery.FileName" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div><!--/.portfolio-item-->
                    }
                </div>
            </div><!--/.container-->
        </section>
    }<!--/#portfolio-->


    <section id="about">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <h3 class="column-title @Model.Textos[10].StText">@Html.Raw(Model.Textos[10].Text)</h3>
                    <!-- 16:9 aspect ratio -->
                    @if (Model.Videos[0] != "")
                    {
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="@Model.Videos[0]" width="350" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    }
                </div>
                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title @Model.Textos[11].StText">@Html.Raw(Model.Textos[11].Text)</h3>
                    <p class="@Model.Textos[12].StText">@Html.Raw(Model.Textos[12].Text)</p>
                </div>
            </div>
        </div>
    </section><!--/#about-->

    <section id="meet-team">
        <div class="container">
            @if (Model.ItemTeam.ItemActive)
            {
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown @Model.ItemTeam.ItemStTitle">@Html.Raw(Model.ItemTeam.ItemTitle)</h2>
                    <p class="text-center wow fadeInDown @Model.ItemTeam.ItemStSubTitle">@Html.Raw(Model.ItemTeam.ItemSubTitle)</p>
                </div>
                <div class="row">
                    @{i = 200;}
                    @foreach (var item in Model.ItemTeam.ListItens)
                    {
                        <div class="col-sm-6 col-md-3">
                            <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="@i@ms">
                                <div class="team-img">
                                    <img class="img-responsive" src="~/Content/uploads/@item.UserImageGallery.Folder/@item.UserImageGallery.FileName" alt="">
                                </div>
                                <div class="team-info">
                                    <h3 class="@item.ComponentTeamOption.Name">@Html.Raw(item.Name)</h3>
                                    <span class="@item.ComponentTeamOption.Functio">@Html.Raw(item.Functio)</span>
                                </div>
                                <p class="@item.ComponentTeamOption.Description">@Html.Raw(item.Description)</p>
                                <ul class="social-icons">
                                    @foreach (var sn in item.ComponentTeamSocialNetwork)
                                    {
                                        <li><a href="@sn.Link" target="_blank"><i class="@sn.Classe1"></i></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        i = i + 200;
                    }
                </div>
            }
            <div class="divider"></div>

            <div class="row">
                @if (Model.ItemSkill.ItemActive)
                {
                    <div class="col-sm-6">
                        <h3 class="column-title @Model.ItemSkill.ItemStTitle">@Html.Raw(Model.ItemSkill.ItemTitle)</h3>
                        @foreach (var item in Model.ItemSkill.ListItens)
                        {
                            <strong class="@item.ComponentSkillOption.Category">@Html.Raw(item.Category)</strong>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary @item.ComponentSkillOption.Level" role="progressbar" data-width="@item.Level">@item.Level %</div>
                            </div>
                        }
                    </div>
                }
                @if (Model.ItemPanel.ItemActive)
                {
                    <div class="col-sm-6">
                        <h3 class="column-title @Model.ItemPanel.ItemStTitle">@Html.Raw(Model.ItemPanel.ItemTitle)</h3>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            @{i = 1; cl = "in";}
                            @foreach (var item in Model.ItemPanel.ListItens)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading_@i">
                                        <h4 class="panel-title">
                                            <a class="@item.ComponentPanelOption.Title" data-toggle="collapse" data-parent="#accordion" href="#collapse_@i" aria-expanded="true" aria-controls="collapse_@i">
                                                @Html.Raw(item.Title)
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_@i" class="panel-collapse collapse @cl" role="tabpanel" aria-labelledby="heading_@i">
                                        <div class="panel-body @item.ComponentPanelOption.Text">
                                            @Html.Raw(item.Text)
                                        </div>
                                    </div>
                                </div>
                                i++; cl = "";
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--/#meet-team-->
    @if (Model.ItemFeatures.ItemActive)
    {
        <section id="animated-number" style="background: #132125 url(../../Content/uploads/@Model.ImagensForm[6]) no-repeat 0 0; background-size: cover; color: #ffffff; padding: 100px 0 70px;">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown @Model.ItemFeatures.ItemStTitle">@Html.Raw(Model.ItemFeatures.ItemTitle)</h2>
                    <p class="text-center wow fadeInDown @Model.ItemFeatures.ItemStSubTitle">@Html.Raw(Model.ItemFeatures.ItemSubTitle)</p>
                </div>
                <div class="row text-center">
                    @{i = 100;}
                    @foreach (var item in Model.ItemFeatures.ListItens)
                    {
                        <div class="col-sm-3 col-xs-6">
                            <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="@i@ms">
                                <div class="animated-number @item.ComponentFeaturesOption.Count" data-digit="@item.Count" data-duration="1000"></div>
                                <strong class="@item.ComponentFeaturesOption.Title">@Html.Raw(item.Title)</strong>
                            </div>
                        </div>
                        i = i + 100;
                    }
                </div>
            </div>
        </section>
    }<!--/#animated-number-->
    @if (Model.ItemPricing.ItemActive)
    {
        <section id="pricing">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown @Model.ItemPricing.ItemStTitle">@Model.ItemPricing.ItemTitle</h2>
                    <p class="text-center wow fadeInDown @Model.ItemPricing.ItemStSubTitle">@Model.ItemPricing.ItemSubTitle</p>
                </div>
                <div class="row">
                    @{i = 100;}
                    @foreach (var item in Model.ItemPricing.ListItens)
                    {
                        if (item.Destacar) { cl = "featured"; }
                        <div class="col-sm-6 col-md-3">
                            <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="@i@ms">
                                <ul class="pricing @cl">
                                    <li class="plan-header">
                                        <div class="price-duration">
                                            <span class="price @item.ComponentPricingOption.Price">@item.Moeda @item.PriceUnid</span>
                                            <span class="duration @item.ComponentPricingOption.Periodo">@Html.Raw(item.Periodo)</span>
                                        </div>
                                        <div class="plan-name @item.ComponentPricingOption.NomePlano">@Html.Raw(item.NomePlano)</div>
                                    </li>
                                    <i>@Html.Raw(item.Description)</i>
                                    <li class="plan-purchase"><a class="btn btn-primary @item.ComponentPricingOption.TextButton" href="#">@Html.Raw(item.TextButton)</a></li>
                                </ul>
                            </div>
                        </div>
                        i = i + 200;
                        cl = "";
                    }
                </div>
            </div>
        </section>
    }<!--/#pricing-->
    @if (Model.ItemClient.ItemActive)
    {
        <section id="testimonial" style="background: #333333 url(../../Content/uploads/@Model.ImagensForm[7]) no-repeat 0 0; background-size: cover; padding: 100px 0; color: #ffffff">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div id="carousel-testimonial" class="carousel slide text-center" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                @{ cl = "active"; }
                                @foreach (var item in Model.ItemClient.ListItens)
                                {
                                    <div class="item @cl">
                                        <p><img class="img-circle img-thumbnail" src="~/Content/uploads/@item.UserImageGallery.Folder/@item.UserImageGallery.FileName" alt=""></p>
                                        <h4 class="@item.ComponentClientOption.Name">@Html.Raw(item.Name)</h4>
                                        <small class="@item.ComponentClientOption.Functio">@Html.Raw(item.Functio)</small>
                                        <p class="@item.ComponentClientOption.Comment">@Html.Raw(item.Comment)</p>
                                    </div>
                                    cl = "";
                                }
                            </div>
                            <!-- Controls -->
                            <div class="btns">
                                <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="prev">
                                    <span class="fa fa-angle-left" aria-hidden="true"></span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                                <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="next">
                                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                                    <span class="sr-only">Próximo</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }<!--/#testimonial-->
    @if (Model.ItemPost.ItemActive)
    {
        <section id="blog">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-title text-center wow fadeInDown @Model.ItemPost.ItemStTitle">@Model.ItemPost.ItemTitle</h2>
                    <p class="text-center wow fadeInDown @Model.ItemPost.ItemStSubTitle">@Model.ItemPost.ItemSubTitle</p>
                </div>
                <div class="row">
                    @{i = 100;}
                    @foreach (var item in Model.ItemPost.ListItens)
                    {
                        <div class="col-sm-4">
                            <div class="blog-post blog-large wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="@i@ms">
                                <article>
                                    <header class="entry-header">
                                        <div class="entry-thumbnail">
                                            <a href="@Url.Action(" SinglePost", "AppView" , new { id=item.IdStr })" target="_blank">
                                                <img class="img-responsive" src="~/Content/uploads/@item.UserImageGallery.ElementAt(0).Folder/@item.UserImageGallery.ElementAt(0).FileName" alt="">
                                            </a>
                                        </div>
                                        <div class="entry-date">@item.DataCadastro</div>
                                        <h2 class="entry-title @item.ComponentPostOption.Titulo"><a href="@Url.Action(" SinglePost", "AppView" , new { id=item.IdStr })" target="_blank">@Html.Raw(item.Titulo)</a></h2>
                                    </header>

                                    <div class="entry-content">
                                        <p class="@item.ComponentPostOption.Paragrafo">@Html.Raw(item.Paragrafo1)</p>
                                        <a class="btn btn-primary" href="@Url.Action(" SinglePost", "AppView" , new { id=item.IdStr })" target="_blank"> Leia Mais</a>
                                    </div>

                                    <footer class="entry-meta">
                                        <span class="entry-author"><i class="fa fa-pencil"></i> <a class="@item.ComponentPostOption.Autor">@Html.Raw(item.Autor)</a></span>
                                        <span class="entry-category"><i class="fa fa-folder-o"></i> <a class="@item.ComponentPostOption.Categoria">@Html.Raw(item.Categoria)</a></span>
                                    </footer>
                                </article>
                            </div>
                        </div><!--/.col-sm-6-->
                        i = i + 200;
                    }
                </div>
            </div>
        </section>
    }

    <section id="get-in-touch">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown @Model.Textos[13].StText">@Model.Textos[13].Text</h2>
                <p class="text-center wow fadeInDown @Model.Textos[14].StText">@Model.Textos[14].Text</p>
            </div>
        </div>
    </section><!--/#get-in-touch-->

    <section id="contact">
        <div id="google-map" style="height:700px"></div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row text-center">
                    <div>
                        <button style="margin-top:4px" type="button" id="hideForm">Mostrar mapa</button>
                    </div>
                    <div class="col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-8">
                        <div class="contact-form">
                            <h3 class="@Model.Textos[15].StText">@Model.Textos[15].Text</h3>
                            <address>
                                @Model.Profile.Adress<br>
                                <strong>Tel: </strong> @Model.Profile.Phone <br />
                                @if (Model.Profile.WhatsApp != "")
                                {
                                    <strong>WhatsApp: </strong> @Model.Profile.WhatsApp <br>
                                }
                                <strong>E-mail: </strong> @Model.Profile.Email<br>
                                @if (Model.Profile.Website != "")
                                {
                                    <strong>Website: </strong><a href="@Model.Profile.Website" target="_blank">@Model.Profile.Website</a><br>
                                }
                            </address>

                            <form id="main-contact-form" name="contact-form" method="post" action="@Url.Action(" EmailS","AppServices")">
                                <input type="hidden" name="siteNumber" value="@Model.Profile.SiteNumber" />
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Seu Nome" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Seu Email" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Assunto" required="required">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="8" placeholder="Mensagem" required="required"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar E-mail</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2014 Your Company. Designed by <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        @if (Model.ItemSocialNetwork.ItemActive)
                        {
                            if (Model.ItemSocialNetwork.ListItens.Count() > 0)
                            {
                                foreach (var item in Model.ItemSocialNetwork.ListItens)
                                {
                                    <li><a href="@item.Link" target="_blank"><i class="@item.Classe1"></i></a></li>
                                }
                            }
                            else
                            {
                                <li><a class="popup" href="https://www.facebook.com/sharer/sharer.php?u="><i class="fa fa-facebook"></i></a></li>
                                <li><a class="popup" href="http://twitter.com/share?text=Vejam%20esta%20página&url="><i class="fa fa-twitter"></i></a></li>
                                <li><a class="popup" href="https://plus.google.com/share?url="><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="popup" href="http://www.linkedin.com/shareArticle?mini=true&amp;url="><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="popup" href="http://www.tumblr.com/share/link?url="><i class="fa fa-tumblr"></i></a></li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script>
        function initMap() {

            /**/
            var lat = '@Model.Profile._Latitude';
        /**/
        /**/
        var lng = '@Model.Profile._Longitude';
        /**/
        var myLatLng = new google.maps.LatLng(lat, lng);

        var mapOptions = {
            zoom: 16,
            center: myLatLng,
            disableDefaultUI: true,
            scrollwheel: false,
            navigationControl: true,
            mapTypeControl: false,
            scaleControl: false,
            draggable: true,
        };

        var mapElement = document.getElementById('google-map');
        var map = new google.maps.Map(mapElement, mapOptions);
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(lat, lng),
            map: map
        });
    }

    </script>

    <script src="~/Componentes/BasicPro/Multi/js/jquery.js"></script>
    <script src="~/Componentes/BasicPro/Multi/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD__HTVqBZS8p9DNMX7LnoMxwCAcRp7kvY&callback=initMap" async defer></script>
    <script src="~/Componentes/BasicPro/Multi/js/owl.carousel.min.js"></script>
    <script src="~/Componentes/BasicPro/Multi/js/mousescroll.js"></script>
    <script src="~/Componentes/BasicPro/Multi/js/smoothscroll.js"></script>
    <script src="~/Componentes/BasicPro/Multi/js/jquery.prettyPhoto.js"></script>
    <script src="~/Componentes/BasicPro/Multi/js/jquery.isotope.min.js"></script>
    <script src="~/Componentes/BasicPro/Multi/js/jquery.inview.min.js"></script>
    <script src="~/Componentes/BasicPro/Multi/js/wow.min.js"></script>
    <script src="~/Componentes/BasicPro/Multi/js/main.js"></script>
    <script src="~/Scripts/Ishopping/SocialNetworks.min.js"></script>

</body>
</html>
