@model Ishopping.Application.ViewModel.Ishopping.AppPortfolioItemViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Title -->
    <title>IShoopping Portfolio</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Meta Tags For SEO -->
    <meta name="description" content="Saiba como o ishoopping pode ajudar você a criar um site e como esse site pode ajudar a sua empresa e divulgar os seus produtos. Teste gratuitamente" />
    <meta name="robots" content="index, follow">

    <!-- Meta Tags Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.ishoopping.com.br/Home/About">
    <meta property="og:title" content="Crie um site fácil e rápido para sua empresa usando o ishoopping" />
    <meta property="og:description" content="O IShoopping é uma plataforma para criar e manter seu site de maneira fácil e rápida, sem a necessidade de domínio ou plano de hospedagem. Teste gratuitamente" />
    <meta property="og:image" content="https://www.ishoopping.com.br/Images/Ishopping/ishoopping_midia.jpg" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Componentes/Premium/Unify/favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/bootstrap/bootstrap.min.css">
    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/icon-etlinefont/style.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/animate.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/vendor/fancybox/jquery.fancybox.css">


    <!-- CSS Unify -->
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/css/unify-core.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/css/unify-components.css">
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/css/unify-globals.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/Componentes/Premium/Unify/assets/css/custom.css">
</head>

<body>
    <main>

        <!-- Header -->
        <header id="js-header" class="u-header u-header--static--lg u-header--show-hide--lg u-header--change-appearance--lg" data-header-fix-moment="500" data-header-fix-effect="slide">
            <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-bg-white g-py-10" data-header-fix-moment-classes="g-bg-white-opacity-0_7 u-shadow-v18 g-py-0">
                <nav class="js-mega-menu navbar navbar-expand-lg">
                    <div class="container">
                        <!-- Responsive Toggle Button -->
                        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->
                        <!-- Logo -->
                        <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                            <img src="~/Images/Ishopping/logo.png" alt="Image Description">
                        </a>
                        <!-- End Logo -->
                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                            <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                                <li class="nav-item g-mx-10--lg">
                                    <a href="@Url.Action("Index","Home")" class="nav-link px-0">Home</a>
                                </li>
                                <li class="nav-item g-mx-10--lg">
                                    <a href="@Url.Action("Index","Home")" class="nav-link px-0">Pesquisar</a>
                                </li>
                                <li class="nav-item g-mx-10--lg">
                                    <a href="@Url.Action("About", "Home")" class="nav-link px-0">Sobre</a>
                                </li>
                                <li class="nav-item g-mx-10--lg">
                                    <a href="@Url.Action("Blog","AppView")" class="nav-link px-0">Blog</a>
                                </li>
                                @Html.Partial("_LoginPartialIs")
                            </ul>
                        </div>
                        <!-- End Navigation -->
                    </div>
                </nav>
            </div>
        </header>
        <!-- End Header -->

        <section class="g-brd-top g-brd-bottom g-brd-gray-light-v4 g-py-50">
            <div class="container g-bg-cover__inner">
                <header class="g-mb-20">
                    <h2 class="h1 g-font-weight-300 text-uppercase"> 
                        @Model.ProfileContact.Empresa
                        <span class="g-color-primary"></span>
                    </h2>
                </header>
                <ul class="u-list-inline">
                    <li class="list-inline-item g-mr-7">
                        <a class="u-link-v5 g-color-main" href="@Url.Action("Category","Portfolio", new { n = Model.ProfileContact.SiteNumber, category = Model.PortfolioHead.Category })">@Model.PortfolioHead.Category</a>
                        <i class="fa fa-angle-right g-ml-7"></i>
                    </li>
                    <li class="list-inline-item g-mr-7">
                        <a class="u-link-v5 g-color-main" href="@Url.Action("SubCategory","Portfolio", new { n = Model.ProfileContact.SiteNumber, category = Model.PortfolioHead.Category, subCategory = Model.PortfolioHead.SubCategory })">@Model.PortfolioHead.SubCategory</a>
                        <i class="fa fa-angle-right g-ml-7"></i>
                    </li>
                    <li class="list-inline-item g-color-primary">
                        <span>Portfolio item</span>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Portfolio Single Item -->
        <section class="container g-py-100">
            <!-- Carousel Images -->
            <div class="js-carousel g-mb-50" data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-40 g-height-40 g-font-size-default g-color-gray-dark-v5 g-bg-white g-color-white--hover g-bg-primary--hover rounded" data-arrow-left-classes="fa fa-angle-left g-left-20"
                 data-arrow-right-classes="fa fa-angle-right g-right-20">
                <img class="img-fluid" src="~/Content/uploads/@Model.PortfolioHead.UserImageGallery.Folder/@Model.PortfolioHead.UserImageGallery.FileName" alt="Image Description">
            </div>
            <!-- End Carousel Images -->
            <div class="row g-mb-70">
                <div class="col-md-8 g-mb-30">
                    <div class="mb-5">
                        <h2 class="g-color-black mb-1">@Model.PortfolioHead.Title</h2>
                        <p>
                            @Model.PortfolioHead.Description
                        </p>
                    </div>
                    <a class="btn btn-md u-btn-primary g-font-size-default g-rounded-25 g-px-30 g-py-12" href="@Model.Buttons.ElementAt(0).UrlButton">@Model.Buttons.ElementAt(0).TextButton</a>
                </div>

                <div class="col-md-4 g-mb-30">

                    <!-- Tags -->
                    <div class="g-mb-30">
                        <h3 class="h5 g-color-black mb-3">Tags:</h3>
                        <ul class="u-list-inline mb-0">
                            @foreach (var item in Model.PortfolioHead._Tags.Take(6))
                            {
                                <li class="list-inline-item g-mb-10">
                                    <a class="u-tags-v1 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="@Url.Action("ByTag", "Portfolio", new { tag = item })">@item</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- End Tags -->
                    <!-- Share -->
                    <div class="mb-3">
                        <h3 class="h5 g-color-black mb-3">Share:</h3>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-1 mb-1">
                                <a class="btn u-btn-outline-facebook g-rounded-25" href="https://www.facebook.com/sharer/sharer.php?u=">
                                    <i class="mr-1 fa fa-facebook"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="list-inline-item mx-1 mb-1">
                                <a class="btn u-btn-outline-twitter g-rounded-25" href="http://twitter.com/share?text=Crie%20um%20site%20lindo%20e%20rápido%20com%20o%20IShoopping&url=">
                                    <i class="mr-1 fa fa-twitter"></i>
                                    Twitter
                                </a>
                            </li>
                            <li class="list-inline-item mx-1 mb-1">
                                <a class="btn u-btn-outline-dribbble g-rounded-25" href="https://plus.google.com/share?url=">
                                    <i class="mr-1 fa fa-google"></i>
                                    Google
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Share -->
                </div>
            </div>
        </section>
        <!-- End Portfolio Single Item -->
        <!-- Cube Portfolio Blocks -->
        <section class="g-bg-gray-light-v5">
            <div class="container g-py-100">
                <h2 class="g-color-black text-center mb-5">Outros Itens</h2>
                <div class="cbp" data-animation="quicksand" data-x-gap="30" data-y-gap="30" data-media-queries='[{"width": 1500, "cols": 3}, {"width": 1100, "cols": 3}, {"width": 800, "cols": 3}, {"width": 480, "cols": 2}, {"width": 300, "cols": 1}]'>
                    @foreach (var item in Model.PortfolioChild)
                    {
                        <!-- Cube Portfolio Blocks - Item -->
                        <div id="shortcode" class="cbp-item identity design">
                            <div class="u-block-hover g-parent">
                                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="~/Content/uploads/@item.UserImageGallery.Folder/@item.UserImageGallery.FileName" alt="Image description">
                                <div class="d-flex w-100 h-100 g-bg-black-opacity-0_6 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in u-block-hover__additional--fade u-block-hover__additional--fade-in g-pa-20">
                                    <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                                        <li class="list-inline-item">
                                            <a class="u-icon-v2 u-icon-size--sm g-brd-white g-color-black g-bg-white rounded-circle" href="@Url.Action("Item","Portfolio", new { n = item.SiteNumber, id = item.Id })">
                                                <i class="icon-communication-095 u-line-icon-pro"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="cbp-lightbox u-icon-v2 u-icon-size--sm g-brd-white g-color-black g-bg-white rounded-circle" href="~/Content/uploads/@item.UserImageGallery.Folder/@item.UserImageGallery.FileName">
                                                <i class="icon-communication-017 u-line-icon-pro"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="u-shadow-v19 g-bg-white text-center g-pa-25 mb-1">
                                <h3 class="h5 g-color-black g-font-weight-600 mb-1">
                                    <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="@Url.Action("item", "Portfolio", new { n = item.SiteNumber, id = item.Id })">@item.Title</a>
                                </h3>
                                <a class="u-link-v5 g-color-main" href="@Url.Action("Category","Portfolio", new { n = item.SiteNumber, category = item.Category })"><p class="mb-0">@item.Category</p></a> 
                            </div>
                        </div>
                        <!-- End Cube Portfolio Blocks - Item -->
                    }
                </div>
            </div>
        </section>
        <!-- End Cube Portfolio Blocks -->
        <!-- Call to Action -->
        <section class="g-bg-primary">
            <div class="container g-pos-rel g-z-index-1 g-pt-50 g-pb-30">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-8 g-mb-20">
                        <h2 class="h3 g-color-white text-uppercase">@Model.Texts.ElementAt(2).Text</h2>
                    </div>
                    <div class="col-lg-4 text-right g-mb-20">
                        <a class="btn u-btn-outline-white g-brd-2 g-font-weight-700 g-font-size-13 g-rounded-50 text-uppercase g-py-15 g-px-30" href="@Model.Buttons.ElementAt(0).UrlButton">@Model.Buttons.ElementAt(0).TextButton</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Call to Action -->
        <section class="container g-pt-100 g-pb-40">
            <div class="row justify-content-between">
                <div class="col-lg-7 g-mb-60">
                    <h2 class="h3">@Model.Texts.ElementAt(5).Text</h2>
                    <p class="g-color-gray-dark-v3 g-font-size-16">@Model.Texts.ElementAt(6).Text</p>
                    <hr class="g-my-40">
                    <!-- Contact Form -->
                    <form id="main-contact-form" name="contact-form" method="post" action="@Url.Action("EmailS","AppServices")">
                        <input type="hidden" name="siteNumber" value="@Model.ProfileContact.SiteNumber" />
                        <div class="g-mb-20">
                            <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">
                                Seu nome: <span class="g-color-red">*</span>
                            </label>
                            <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-primary--focus g-brd-gray-light-v4 rounded-3 g-py-13 g-px-15" name="name" type="text">
                        </div>
                        <div class="g-mb-20">
                            <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">
                                Seu email: <span class="g-color-red">*</span>
                            </label>
                            <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-primary--focus g-brd-gray-light-v4 rounded-3 g-py-13 g-px-15" name="email" type="email">
                        </div>
                        <div class="g-mb-20">
                            <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">
                                Assunto: <span class="g-color-red">*</span>
                            </label>
                            <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-primary--focus g-brd-gray-light-v4 rounded-3 g-py-13 g-px-15" name="subject" type="text">
                        </div>
                        <div class="g-mb-40">
                            <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13">
                                Sua menssagem: <span class="g-color-red">*</span>
                            </label>
                            <textarea class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-primary--focus g-brd-gray-light-v4 g-resize-none rounded-3 g-py-13 g-px-15" name="message" rows="5"></textarea>
                        </div>
                        <button class="btn btn-lg u-btn-primary g-font-weight-600 g-font-size-default rounded-3 text-uppercase g-py-15 g-px-30" type="submit" role="button">Enviar e-mail</button>
                    </form>
                    <!-- End Contact Form -->
                </div>
                <div class="col-lg-4 g-mb-60">
                    <!-- Google Map -->
                    <div id="GMapCustomized-light" class="js-g-map embed-responsive embed-responsive-21by9 g-height-300" data-type="custom" data-lat="@Model.ProfileContact._Latitude" data-lng="@Model.ProfileContact._Longitude" data-zoom="12" data-title="Agency" data-styles='[["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]], ["", "labels", [{"visibility":"on"}]], ["water", "", [{"color":"#bac6cb"}]] ]'
                         data-pin="true" data-pin-icon="../../Componentes/Premium/Unify/assets/img/icons/pin/green.png">
                    </div>
                    <!-- End Google Map -->
                    <hr class="g-my-40">
                    <!-- Contact Info -->
                    <h2 class="h3 mb-4">Contato</h2>
                    <div class="media mb-2">
                        <i class="d-flex g-color-gray-dark-v5 mt-1 mr-3 icon-hotel-restaurant-235 u-line-icon-pro"></i>
                        <div class="media-body">
                            <p class="g-color-gray-dark-v3 mb-2">
                                @Model.ProfileContact.Adress
                            </p>
                        </div>
                    </div>
                    <div class="media mb-2">
                        <i class="d-flex g-color-gray-dark-v5 mt-1 mr-3 icon-communication-062 u-line-icon-pro"></i>
                        <div class="media-body">
                            <p class="g-color-gray-dark-v3 mb-2">
                                Email: <a class="g-color-gray-dark-v4" href="">@Model.ProfileContact.Email</a>
                            </p>
                        </div>
                    </div>
                    <div class="media mb-2">
                        <i class="d-flex g-color-gray-dark-v5 mt-1 mr-3 icon-communication-033 u-line-icon-pro"></i>
                        <div class="media-body">
                            <p class="g-color-gray-dark-v3">
                                Telefone: <span class="g-color-gray-dark-v4">@Model.ProfileContact.Phone</span>
                            </p>
                        </div>
                    </div>
                    <!-- End Contact Info -->
                    <hr class="g-my-40">
                    <a class="u-icon-v3 g-bg-facebook g-rounded-50x g-color-white g-color-white--hover g-mr-15 g-mb-20 popupIs" href="https://www.facebook.com/sharer/sharer.php?u=">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="u-icon-v3 g-bg-twitter g-rounded-50x g-color-white g-color-white--hover g-mr-15 g-mb-20 popupIs" href="http://twitter.com/share?text=Crie%20um%20site%20lindo%20e%20rápido%20com%20o%20IShoopping&url=">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="u-icon-v3 g-bg-google-plus g-rounded-50x g-color-white g-color-white--hover g-mr-15 g-mb-20 popupIs" href="https://plus.google.com/share?url=">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="u-icon-v3 g-bg-linkedin g-rounded-50x g-color-white g-color-white--hover g-mr-15 g-mb-20 popupIs" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
            <div class="container">
                <div class="row">
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">IShoopping</h2>
                        </div>
                        <p>Bem Vindo ao Mundo do Marketing Digital.</p>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Últimos Posts</h2>
                        </div>

                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/Appview/Singlepost/3fb15711-43e0-e711-80bc-bc305b867444" target="_blank">Marketing Digital</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">Dezembro 5, 2017</div>
                        </article>

                        <hr class="g-brd-white-opacity-0_1 g-my-10">

                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/AppView/SinglePost/192d1685-43e0-e711-80bc-bc305b867444" target="_blank">Tipos de Marketign</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">Dezembro 5, 2017</div>
                        </article>

                        <hr class="g-brd-white-opacity-0_1 g-my-10">

                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/AppView/SinglePost/70e56fdc-43e0-e711-80bc-bc305b867444" target="_blank">Como criar seu Website</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">Dezembro 5, 2017</div>
                        </article>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Nossos Links</h2>
                        </div>

                        <nav class="text-uppercase1">
                            <ul class="list-unstyled g-mt-minus-10 mb-0">
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("About")">Sobre</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("Blog", "AppView")">Blog</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("Tutorial")">Tutorial</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("Contact")">Contato</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Nossos Contatos</h2>
                        </div>

                        <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(../../Componentes/Premium/Unify/assets/img/maps/map2.png);">
                            <!-- Location -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-map-marker"></i>
                                    </span>
                                </div>
                                <p class="mb-0">Rio de Janeiro<br> Rio de Janeiro, Brasil</p>
                            </div>
                            <!-- End Location -->
                            <!-- Phone
                            <div class="d-flex g-mb-20">
                              <div class="g-mr-10">
                                <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                  <i class="fa fa-phone"></i>
                                </span>
                              </div>
                              <p class="mb-0">(+123) 456 7890 <br> (+123) 456 7891</p>
                            </div>
                            End Phone -->
                            <!-- Email and Website -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                </div>
                                <p class="mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:suporte@ishoopping.com.br">suporte@ishoopping.com.br</a>
                                    <br>
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">ishoopping.com.br</a>
                                </p>
                            </div>
                            <!-- End Email and Website -->
                        </address>
                    </div>
                    <!-- End Footer Content -->
                </div>
            </div>
        </div>
        <!-- End Footer -->
        <!-- Copyright Footer -->
        <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
                        <div class="d-lg-flex">
                            <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">@DateTime.Now.Year.ToString() © Todos os Direitos Reservados.</small>
                            <ul class="u-list-inline">
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("TermsOfUse")">Termos de Uso</a>
                                </li>
                                <li class="list-inline-item">
                                    <span>|</span>
                                </li>
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="@Url.Action("Contact")">Suporte</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 align-self-center">
                        <ul class="list-inline text-center text-md-right mb-0">
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <a href="http://twitter.com/share?text=Crie%20um%20site%20lindo%20e%20rápido%20com%20o%20IShoopping&url=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Google">
                                <a href="https://plus.google.com/share?url=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-google"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
                                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Tumblr">
                                <a href="http://www.tumblr.com/share/link?url=" class="g-color-white-opacity-0_5 g-color-white--hover popupIs">
                                    <i class="fa fa-tumblr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>
        <!-- End Copyright Footer -->

        <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>
    </main>

    <div class="u-outer-spaces-helper"></div>


    <!-- JS Global Compulsory -->
    <script src="~/Componentes/Premium/Unify/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/jquery.easing/js/jquery.easing.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/popper.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/bootstrap/bootstrap.min.js"></script>


    <!-- JS Implementing Plugins -->
    <script src="~/Componentes/Premium/Unify/assets/vendor/appear.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/typedjs/typed.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/hs-bg-video/vendor/player.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/vendor/gmaps/gmaps.min.js"></script>


    <!-- JS Unify -->
    <script src="~/Componentes/Premium/Unify/assets/js/hs.core.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.header.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/helpers/hs.hamburgers.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.tabs.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.cubeportfolio.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.onscroll-animation.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.go-to.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.popup.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/hs.carousel.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/text-animation/hs.text-slideshow.js"></script>
    <script src="~/Componentes/Premium/Unify/assets/js/components/gmap/hs.map.js"></script>


    <!-- JS Customization -->
    <script src="~/Componentes/Premium/Unify/assets/js/custom.js"></script>

    <!-- Js IShoopping -->
    <script src="~/Scripts/Ishopping/Services/SendMail.js"></script>
    <script src="~/Scripts/Ishopping/SocialNetworks.min.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        // initialization of google map
        function initMap() {
            $.HSCore.components.HSGMap.init('.js-g-map');
        }

        $(document).on('ready', function () {
            // initialization of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');

            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of scroll animation
            $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });

            // initialization of masonry
            $('.masonry-grid').imagesLoaded().then(function () {
                $('.masonry-grid').masonry({
                    columnWidth: '.masonry-grid-sizer',
                    itemSelector: '.masonry-grid-item',
                    percentPosition: true
                });
            });

            // initialization of cubeportfolio
            $.HSCore.components.HSCubeportfolio.init('.cbp');
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
    </script>

    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async defer></script>

</body>

</html>




